<div class="container">	
  <div class="content">
    <div class="box-technology box-technology-h">
      <div class="shadow"></div>
      <h3><em>Technology Stack</em></h3>
      <div class="list_carousel">
        <ul id="carousel-2" class="animation-div">
          <li><div><a href="javascript:void(0);" title="AJAX"><img src="/assets/technology_stack/ajax.png" alt="AJAX" title="AJAX"></a></div></li>	
          <li><div><a href="javascript:void(0);" title="amazon S3"><img src="/assets/technology_stack/amazonS3.png" alt="amazon S3" title="amazon S3"></a></div></li>
          <li><div><a href="javascript:void(0);" title="amcharts"><img src="/assets/technology_stack/amcharts.png" alt="amcharts" title="amcharts"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Capistrano"><img src="/assets/technology_stack/capistrano.png" alt="Capistrano" title="Capistrano"></a></div></li>
          <li><div><a href="javascript:void(0);" title="CC Avenue"><img src="/assets/technology_stack/ccavenue.png" alt="CC Avenue" title="CC Avenue"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Engine Yard"><img src="/assets/technology_stack/engineyard.png" alt="Engine Yard" title="Engine Yard"></a></div></li>
          <li><div><a href="javascript:void(0);" title="open-tok"><img src="/assets/technology_stack/opentok.png" alt="open-tok" title="open-tok"></a></div></li>
          <li><div><a href="javascript:void(0);" title="paypal"><img src="/assets/technology_stack/paypal.png" alt="paypal" title="paypal"></a></div></li>
          <li><div><a href="javascript:void(0);" title="jquery"><img src="/assets/technology_stack/jquery.png" alt="jquery" title="jquery"></a></div></li>				
          <li><div><a href="javascript:void(0);" title="Amazon Web Servics"><img src="/assets/technology_stack/amazon_webservics.png" alt="Amazon Web Servics" title="Amazon Web Servics"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Apache Passenger"><img src="/assets/technology_stack/apache_passenger.png" alt="Apache Passenger" title="Apache Passenger"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Bootstrap"><img src="/assets/technology_stack/bootstrap.png" alt="Bootstrap" title="Bootstrap"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Cucumber"><img src="/assets/technology_stack/cucumber.png" alt="Cucumber" title="Cucumber"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Github Social"><img src="/assets/technology_stack/github_social.png" alt="Github Social" title="Github Social"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Google Analytics"><img src="/assets/technology_stack/google_analytics.png" alt="Google Analytics" title="Google Analytics"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Google Chart"><img src="/assets/technology_stack/google_chart.png" alt="Google Chart" title="Google Chart"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Heroku"><img src="/assets/technology_stack/heroku.png" alt="heroku" title="heroku"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Java Script"><img src="/assets/technology_stack/java_script.png" alt="Java Script" title="Java Script"></a></div></li> 
          <li><div><a href="javascript:void(0);" title="Juggernaut"><img src="/assets/technology_stack/juggernaut.png" alt="Juggernaut" title="Juggernaut"></a></div></li> 
          <li><div><a href="javascript:void(0);" title="New Relic"><img src="/assets/technology_stack/new_relic.png" alt="New Relic" title="New Relic"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Open Flesh Chart"><img src="/assets/technology_stack/open_flesh_chart.png" alt="New Relic" title="New Relic"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Postgresql"><img src="/assets/technology_stack/postgresql.png" alt="Postgresql" title="Postgresql"></a></div></li> 
          <li><div><a href="javascript:void(0);" title="Prototype"><img src="/assets/technology_stack/prototype.png" alt="Prototype" title="Prototype"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Radiant"><img src="/assets/technology_stack/radiant.png" alt="Radiant" title="Radiant"></a></div></li>
          <li><div><a href="javascript:void(0);" title="rspec"><img src="/assets/technology_stack/rspec.png" alt="rspec" title="rspec"></a></div></li>
          <li><div><a href="javascript:void(0);" title="spree"><img src="/assets/technology_stack/spree.png" alt="spree" title="spree"></a></div></li>
          <li><div><a href="javascript:void(0);" title="Sql Server"><img src="/assets/technology_stack/sql_server.png" alt="Sql Server" title="Sql Server"></a></div></li>
          <li><div><a href="javascript:void(0);" title="ssl"><img src="/assets/technology_stack/ssl.png" alt="ssl" title="ssl"></a></div></li>   
          <li><div><a href="javascript:void(0);" title="TYPO3"><img src="/assets/technology_stack/typo3.png" alt="TYPO3" title="TYPO3"></a></div></li> 
          <li><div><a href="javascript:void(0);" title="rackspace"><img src="/assets/technology_stack/rackspace.png" alt="rackspace" title="rackspace"></a></div></li> 						
        </ul>
        <div class="clearF"></div>
        <a id="carousel-prev-2" class="prev" href="javascript:void(0);">&lt;</a>
        <a id="carousel-next-2" class="next" href="javascript:void(0);">&gt;</a>
        <div id="pager-2" class="pager"></div>
      </div>
    </div>
    <div class="clearF"></div>
  </div>
</div>