<div class="container">   
  <div class="content">
    <div class="contact-leftColumn col-lg-8 col-md-6 col-sm-12">
      <div class="space-left">
        <h3><span>Get In Touch</span></h3>
          <%= render :partial => "home/contact_form" %>
      </div>
      <div class="clearF"></div>
    </div>
    <div class="contact-rightColumn col-lg-4 col-md-6 col-sm-12">
      <div class="space-left-service">
        <h3><span>Contact Information</span></h3>
        <ul class="list-contactInfo">
          <li class="icon-add">17 haugh Park, Longstone Road, Edinburgh, EH142Bd, Scotland United Kingdom</li>
          <li class="icon-phone">Phone: +447963120298/+447903113113</li>
          <li class="icon-email"><a href="mailto:contact@dine-media.com" title="contact@dine-media.com">contact@dine-media.com</a></li>
          <li class="icon-skype"><a title="rails.dev" href="javascript:void(0);">rails.dev</a></li>
        </ul>
        <div class="clearF"></div>
      </div>
    </div>     			
    <div class="clearF"></div>
  </div>		
</div>
<%= render "technologies" %>