<div class="container">
  <div class="content">
    <ul class="list-webDesign">
      <li class="icon-webDesign col-lg-3 col-md-3 col-sm-6">
        <div onclick="go2url('services')">
          <span></span>
          <h2>Web Design<br />&amp; Development</h2>
          <p>Superior quality responsive designs produced for applications deployed on cloud and built on top of the ruby on rails framework giving you the perfect flavor that suits your taste and pockets.</p>
        </div>	
      </li>
      <li class="icon-cloud col-lg-3 col-md-3 col-sm-6">
        <div onclick="go2url('services')">
          <span></span>
          <h2>Cloud<br />Services</h2>
          <p>Our cloud master chefs can help you with any issues and solutions related to cloud. We consult in setting up data centers and managing data and applications on both Public and Private cloud.</p>
        </div>
      </li>
      <li class="icon-consultancy col-lg-3 col-md-3 col-sm-6">
        <div onclick="go2url('services')">
          <span></span>
          <h2>Consultancy<br />Services</h2>
          <p>Our expert team is highly qualified to provide reasonable and practical solution to any problem. All you have to do is communicate with us and we will help you to understand the problem better.</p>
        </div>
      </li>
      <li class="icon-mobile col-lg-3 col-md-3 col-sm-6">
        <div onclick="go2url('services')">
          <span></span>
          <h2>Mobile<br />Applications</h2>
          <p>With the ever growing community of mobile users, give your apps an extra advantage to be reached to those growing millions of users. we have qualified teams of mobile experts on all platforms.</p>
        </div>
      </li>			
    </ul>
    <div class="clearF"></div>
  </div>
</div>	
<div class="container">	
  <div class="content">			
    <div id="ourBestWork">
      <h1>Our Best Works<p>We are here to give you the best.</p></h1>
      <div class="bor"><span></span></div>
      <div class="list_carousel">
        <ul id="carousel" class="list-ourTeam list-ourBestWork">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://47.no/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/47.png" title="" alt="" />
            </div>
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank"  title="View Details" href="http://rcms-app.herokuapp.com/">View Details</a></div>
              </div>						
              <img src="assets/protfolio/thumbnail/rcms.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://ec2-54-245-14-77.us-west-2.compute.amazonaws.com">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/cloud_dashboard.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.eduposts.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/eduposts.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.enods.com/">View Details</a></div>
              </div>						
              <img src="assets/protfolio/thumbnail/enod.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://flate.no/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/flate.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.getsortbox.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/getsortbox.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.homecca.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/homecca.png" title="" alt="" />
            </div>	
          </li>					

          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.jangalamarket.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/jangalamarket.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://mydateishere.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/mydateishere_1.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.smartquotez.com">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/smartquotez.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.tatango.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/tatango.png" title="" alt="" />
            </div>	
          </li>					

          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="https://timeraven.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/timeraven.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://www.whenisitopen.ca/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/whenisitopen.png" title="" alt="" />
            </div>	
          </li>					
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://ec2-54-201-154-121.us-west-2.compute.amazonaws.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/bilty_software.png" title="" alt="" />
            </div>	
          </li>		
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://smo.high5software.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/high5_software.png" title="" alt="" />
            </div>	
          </li>		
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://kirpeep.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/kirpeep.png" title="" alt="" />
            </div>	
          </li>	
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <div><a target="_blank" title="View Details" href="http://abouttrees.com/">View Details</a></div>
              </div>
              <img src="assets/protfolio/thumbnail/abouttrees.png" title="" alt="" />
            </div>	
          </li>	
        </ul>
        <div class="clearf"></div>
        <a id="carousel-prev" class="prev" href="javascript:void(0);">&lt;</a>
        <a id="carousel-next" class="next" href="javascript:void(0);">&gt;</a>
        <div id="pager" class="pager"></div>
      </div>
      <div class="bor"><span></span></div>
      <a class="btn-view" href="portfolio" title="View Our Portfolio">View Our Portfolio</a>
      <div class="clientSay">
        <div class="bg-blue"></div>
        <h4 style="font-family: 'open_sansregular';">What Our Clients Say</h4>
        <h5 class="icon-comma"><em></em>I admire your team's analytical and technical skills and I am extremely impressed with your prompt actions and timely deliveries. I wish Dine-Media a bright future and success in their future endeavors. - <span>Amit Mittal</span></h5>
        <a class="btn-viewAll" href="portfolio" title="View all">View all</a>	
      </div>
    </div>    
    <div class="clearF"></div>
  </div>
</div>	
<div class="container">	
  <div class="content">
    <div class="aboutHeading">
      <div class="shadow"></div>
      <h1>About Us <p>Here is what we love and do best</p></h1>
      <div class="bor"><span></span></div>
      <div class="content-aboutUs">
        <p><em>Dine-Media</em> is a ruby on rails development company formed with a vision of providing superior design and development services to client across the globe.our motive to deliver in time, in budget with quality services always keep us on out toes, but we enjoy this as we love what we do. We have been serving clients with different services starting from product design to development to deployment to consulting on different verticals for over 6+ years. We hire the best talents from the industry with a vision to create a platform for our clients where they can come and talk out issues and walk with the most optimum solution. We have people from best masters and engineering institutes across India like IIM's and IIT's with experience ranging from 3- 25 years.  We aim to create a benchmark for our competitors and clients which will redefine the meaning of quality in budget and on-time delivery.</p>	
        <p>We work with emerging technologies like <abbr>Ruby on Rails, Cloud Computing</abbr> producing excellent <strong>SAAS, PAAS and IAAS apps</strong> for our clients through agile development methodologies.</p>
      </div>
      <h3 class="heading-ourteam"><span>Our Team</span></h3>
      <div class="list_carousel">
        <ul id="carousel-1" class="list-ourTeam">
          <li>
            <div class="circle"><div><img src="assets/team/Neeraj.png" title="" alt="" /></div></div>
            <h5>Neeraj Choudhary</h5>
            <p>CEO/Managing Director</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/ranjan pic 2.png" title="" alt="" /></div></div>
            <h5>Ranjana Choudhary</h5>
            <p>Director Design</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/amith.png" title="" alt="" /></div></div>
            <h5>Amith</h5>
            <p>Director Sales</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Ashok.png" title="" alt="" /></div></div>
            <h5>Ashok Kumar</h5>
            <p>Senior Ruby on Rails Engineer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/bhagath.png" title="" alt="" /></div></div>
            <h5>Bhagath Reddy</h5>
            <p>Junior Ruby on Rails Developer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/grish.png" title="" alt="" /></div></div>
            <h5>Girish Kumar</h5>
            <p>User Interface Designer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Hanumanth.png" title="" alt="" /></div></div>
            <h5>Hanumanth</h5>
            <p>Junior Ruby on Rails Developer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Khapil.png" title="" alt="" /></div></div>
            <h5>Kapil Kumar</h5>
            <p>Senior Ruby on Rails Specialist</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Mano.png" title="" alt="" /></div></div>
            <h5>Manohar K</h5>
            <p>Graphics Designer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Pushparaj.png" title="" alt="" /></div></div>
            <h5>Pushparaj Badu</h5>
            <p>Ruby on Rails wizard</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Rahul.png" title="" alt="" /></div></div>
            <h5>Rahul M</h5>
            <p>3D Specialist</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Raju.png" title="" alt="" /></div></div>
            <h5>P.V Raju</h5>
            <p>User Interface Specialist</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Shabas.png" title="" alt="" /></div></div>
            <h5>Sabash M.R.</h5>
            <p>2D-Flash Designer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Shivaraj.png" title="" alt="" /></div></div>
            <h5>Shivraj Badu</h5>
            <p>Ruby on rails Developer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Sandhya.png" title="" alt="" /></div></div>
            <h5>Sneha</h5>
            <p>Junior Ruby on Rails Developer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/sowmya.png" title="" alt="" /></div></div>
            <h5>Sowmya M.R.</h5>
            <p>Ruby on Rails Developer</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/SRINU.png" title="" alt="" /></div></div>
            <h5>Srinivas K</h5>
            <p>Responsive Design Specialist</p>
          </li>
          <li>
            <div class="circle"><div><img src="assets/team/Vivek.png" title="" alt="" /></div></div>
            <h5>Vivek Reddy</h5>
            <p>Senior Ruby on Rails Specialist</p>
          </li>
        </ul>
        <div class="clearF"></div>
        <a id="carousel-prev-1" class="prev" href="javascript:void(0);">&lt;</a>
        <a id="carousel-next-1" class="next" href="javascript:void(0);">&gt;</a>
        <div id="pager-1" class="pager"></div>
      </div>
      <div class="bor"><span></span></div>
    </div>
    <div class="clearF"></div>
  </div>
</div>
<%= render "technologies" %>
<style>
  .caroufredsel_wrapper{ 
    height:320px !important;
  }
</style>