
<div class="container">   
  <div class="content">
    <div class="list_carousel carousel-portfolio-1">
      <ul id="carousel-3">
        <li>
          <div class="contact-leftColumn col-lg-6 col-md-6 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/smartquotez.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-6 col-md-6 col-sm-12">
            <div class="">
              <h6>Smartquotez </h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>SmartQuotezTM was developed with the thought in mind that customers should not be spending several hours to just find the right business for their project AND businesses should not be spending thousands of upfront marketing dollars to just get leads. We are very confident that SmartQuotezTM is going to revolutionize the way customers and businesses interact with each other and mutually SAVE on TIME and MONEY.</p>

              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li>Customer portal: sing up, login, dashboard, manage profile,  manage posting, see and select bids,  manage history, share comments and reviews etc..</li>
                <li>Business portal: sign up, login, dashboard, search projects bid, communicate with customers, rebid, history ,business directory listing and many more
                </li>
                <li> Admin panel to manage complete application.</li>
              </ol>

              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby, Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: AWS
              </p>

              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>6 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>I admire your team's analytical and technical skills and I am extremely impressed with your prompt actions and timely deliveries. I wish Dine-Media a bright future and success in their future endeavors.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Amit Mittal,</strong> Smart Quotez</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/mydateishere_1.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Mydateishere</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>It was one of the best projects from us and we were associated with this for more than 2 yrs. mydateishere is a new generation dating cum matching site. it has got a strong matching algorithms with solid search mechanism. here people from different dating taste can come and signup and find their perfect match. it also has got app on itunes store.</p>
              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li>user sign manual and fb </li>
                <li>user login and forgot pass </li>
                <li>profile management </li>
                <li>album and pic management </li>
                <li>text audio and video chat </li>
                <li>private and public message boards </li>
                <li>dedicated admin panel for website management </li>
              </ol>

              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby, Framework: Ruby on Rails, Jquery/AJAX ,Database: MySQl ,Server: AWS</p>
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>2 Years</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>It was a pleasure working with Neeraj.  He is very competent and has mastery of ruby on rails.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Mohammad,</strong> Co Founder MDIH</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/jangalamarket.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Jangalamarket</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>Jangala jungle means in Sanskrit, an ancient language of the Indian subcontinent. The city is a jungle. An ecosystem always in motion.Interactions and discoveries are daily, shops open every day and in all districts and trends evolve. </p>
              <p>Our Mission </p>
              <p>We introduce you to unique products from concept shops, small and independent networks to Paris. Find, compare, book Jangala and try, discuss, buy in store.</p>
              <p>We did the social networking component for this website and it was a bug section.  we were responsible for posting the products to social networking site and blogs from janagala market automatically.</p>

              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>-->
              </ol>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud
              </p>

              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>2 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>OM has provided with a product that is what we expected. Flexible, quality work, and great cooperation.  
              Would recommend him, and will continue to work with him Steven Quintanilla<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Steven Quintanilla,</strong> Jangalamarket</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/timeraven.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Timeraven</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>Still in beta invite only phase, timeraven is one of its kind of app which allows you to schedule and sync appointments on all available platforms. Here you can manage and edit your appointments and also set and see available timings for other users and manage appointments accordingly.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->

              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud
              </p>

              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>9 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Dine-Media has provided steller results for my application and i am very happy with their work and will strongly recommend them.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Edward valentini,</strong> Timeraven</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/bilty_software.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>BiltySoftware</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>its a propitiatory product from dine media aimed at providing ease to transport and logistic companies. its a very user friendly application. it has full user control and admin panel dedicated to manage a logistic firm with expense management and employee management. it has interactive management dashboard and supports barcode.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>4 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span> This is an amazing application which caters to all the needs and requirements of our daily work.very easy and interactive to use. we are very happy to use Bilty software from Dine-Media. Wish them best of luck. <span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Amit Kumar,</strong> Creatiwa Marketing Solutions</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/flate.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>FlateSoftware</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>Flate is a real estate project for renting and selling properties there are 3 main users of the application. </p>
              <p>1. landlord : He will create properties and send contracts to interested people who wants to buy or rent his property</p>
              <p>2. Tenant: He will search property and accepts contracts once he is ready to buy or rent the property. </p>
              <p>3. Broker: He will able to see all properties and tenants and make an interaction between them, he is like a middle person to the application.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>4 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>We just came with the idea and with the help of Dine-Media we were able to realize our dream, The team was extremely helpful with superior communication skills. we are very much satisfied<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Edward V,</strong> FlateSoftware</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/whenisitopen.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>When is it open</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>This is an amazing piece of application which is very close to <a href="http://yelp.com" title="yelp.com">yelp.com.</a>Here users can search for open businesses close to their location or at any given location. It will tell you open and close timings for business and if a business is closed it will also show you nearby same open businesses. It has got a powerful search along with determining location of user based on his IP address. </p>
              <p>It has got a powefull admin section where admin can manage all business timings and can add delete businesses from back end. he can import and export business from backend in csv</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>4 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Though the task was challenging and it took time and lots of communication. ultimately the task was done and delivered as per expectations with quality. i would recommend their work.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Robert P,</strong> When is it open</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/high5_software.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>High5Software</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>SMO is a service management application operating on eCommerce background. I allows businesses to sign up and manage their fleet of inhouse and fields executives and technicians. SMO also allows them to assign and manage tasks. It allows to manage complete billing using QB. Existing quick book accounts can be imported into the application. It has got an API exposed for mobile apps to be developed. </p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>6 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span> Dine-Media was very supporting throughout the project development phase and I am very happy with the results i got. <span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Mark Stair,</strong> High5Software</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/eduposts.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Eduposts</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>Its an online collaboration application for instructors and students where they can come and collaborate and stay upto date. </p>
              <p>EduPost saves educators time by connecting students to everything they want to know. Now students can get their questions answered by classmates, not just instructors.</p>
              <p>With EduPost, educators can track classroom participation, measure student engagement. </p>
              <p>Educators can easily post assignments, provide one-on-one help, host discussions, and archive important questions or conversations.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>3 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Very fast and detailed work. I'am excited to continue working with Neeraj<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Andrew Quell,</strong> Founder at eduposts

          </div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/enods.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Enods</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>enods, which stands for Earth Needs our Dedicated Support is an e-commerce platform which aims to sustain the planet by supporting organizations which are dedicated to raising funds for their respective causes and non-profits through the sale of goods and products made via the enods marketplace. </p>
              <p>enods strives to provide consumers with a variety of high quality, fair trade, artisanal goods, as well as items created and sold by local businesses.</p>
              <p>enods supports a variety of causes, which are divided into three main categories: Human Causes, Animal Causes ,Environmental Causes
              </p>
              <p>Through partnerships with both local and international non-profit organizations, enods is dedicated to make a difference in the world one purchase at a time.</p>
              <p>Each vendor and business on the enods platform is individually approved based on strict criteria prior to selling their goods and products in the marketplace.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>5 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span> Neeraj and team are excellent at this domain and they give me a beautiful design with stable application developed in ruby on rails. Perfect for my requirements. Highly recommended <span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Nash khan,</strong> Enods</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/47.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>47.no</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p><a href="http://47.no/" title="47.no">47.no</a> provide visibility for its customers and a wide range of services on the web that our users use in their everyday lives. <a href="http://47.no/" title="47.no">47.no</a> aims to be a leading search within enterprises, goods and services in the Norwegian market. Site Enlightenment Business is based on proprietary technology, which appears in continuous improvements of the page. </p>
              <p>In the near future, users can expect to find rubrikksøk, prissøk and paging. This will make us one of the most complete search sites in Norway. <a href="http://47.no/" title="47.no">47.no</a> is a serious search page, and we are proud to deliver a quality product.</p>
              <p>All our agreements entered into in writing, and be renewed only by entering into a new written agreement with the customer. The standard contract period is 12 months, unless otherwise agreed.</p>
              <p>Online Directory Enquiries AS organization 993162183 VAT.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>3 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>The work was done as expected with quality on time.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Edward P,</strong> 47.no</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/rcms.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>RCMS</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>Its a church counselling application created and manged by church. There are multiple types of users like. admin, client, counselor  intake coordinator, manager, scheduling manager.</p>
              <p>Client will fill intake form, then intake coordinator will match client requirements with counselor profile and create an appointment, this appointment date is shared between client and counselor. Its a big application to summarize with so many features.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>12 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Did a great job with this piece. We are working together to complete a robust web app and he was hired to complete the HTML and CSS for this project. The project did run over schedule, but we are happy with his work. <span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Ralph yoon,</strong> RCMS</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/homecca.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>HOME CCA</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>homecca aims at making home maintenance easy by connecting professionals with people who wants to get their home jobs done. The home job can fall into any category from plumbing to roof cleaning to anything that is related to servicing things related to your home.</p>
              <p>Its a wonderful application where you can choose fantastic people with verified ratings and reviews. The professionals will bid on projects for services created by home owner and best bid can be chosen.</p>
              <!--<h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                      <li>Site Management</li>
                      <li>Package, Proposal and Campaign Management</li>
                      <li>Reports and Google maps API v3 for locations and zones</li>
                      <li>Folder Customization and Management</li>
              </ol>-->
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>3 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Happy with most aspects of the contract. Would recommend again  Very good work, communication, and good use of time<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Adam Radziszewski,</strong> founder at homecca</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/getsortbox.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Get Sort Box</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>SortBox is a simple system for you to manage and organize your hiring and promote your jobs and company across the web. Create your own branded careers page for your company and easily share your job with all your social networks and existing contacts. SortBox is Free. we migrated sortbox from php to rails. </p>
              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li><p>1. Get Started : SortBox builds your own branded career page. We host it. You get your own vanity url. Sign up using the company or business Twitter account and SortBox imports the logo and company details.</p></li>
                <li><p>2. Create a Job : 
                    Creating a great looking job page in SortBox takes seconds. Your company details, job description and logo help make your job look great. Easily add IMAGES or VIDEO that may better demonstrate why someone should work for your company.
                  </p></li>
                <li><p>3. Share the Job :
                    Your job now has it's own branded, rich media ready web page. Easily share your job and it's details with one click to Linkedin, Facebook, Google+ or Twitter.  This makes it easy for your contacts, employees, and others in your social networks to now share your job and let everyone know you are hiring</p>
                </li>
                <li><p>4. Collect Applicants: SortBox is designed to make it easy for you to sort your applicants. Regardless if you have shared your job on Craigslist, Twitter, your company website or Facebook, all job applicants end up in your sortbox for your job. Review their Resume, Cover letter, even image samples with one click. SortBox renders the old <a href="jobs@yourcompany.com" title="jobs@yourcompany.com">jobs@yourcompany.com</a> email inbox obsolete.</p>
                </li>
                <li><p>5. user dashboard for job and profile management</p></li>
                <li><p>6. complete admin panel for application user and job post management</p></li>
              </ol>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX, Database: MySQl ,Server: cloud</p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>6 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>This was a challenge that Dine-Media took and delivered above our expectations. we got very good reviews from market for our application and it stood strong.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Justin sherratt,</strong> Get Sort Box</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/tatango.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Tatango</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>we were a part of development in Tatango which is a mobile based sms marketing software which helps you with sms broadcasts, sms contests, sms polls, sms auto responders. </p>
              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li>Unlimited SMS Keywords</li>
                <li>Short Code Messaging </li>
                <li>Campaign Management</li>
                <li>Subscriber Management</li>
                <li>Campaign Analytics</li>
                <li>SMS Delivery Reports</li>
                <li>Social Sharing</li>
                <li>Amazing Customer Support</li>
                <li>Best Practices Compliant</li>
              </ol>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby ,Framework: Ruby on Rails, Jquery/AJAX ,Database: MySQl ,Server: AWS </p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>4 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Nice working with you Neeraj! It was a pleasure.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Benjamin Waldher,</strong> Tatango</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/kirpeep.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Kirpeep</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>we were responsible for complete development of kirpeep which is supposed to be the real way to buy, sell or trade anything. its an excellent app to buy, sell or trade any goods of your choice,</p>
              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li>signup/sign in</li>
                <li>user profile management</li>
                <li>user need and want management</li>
                <li>search and advance search</li>
                <li>Admin panel to control app</li>
                <li>email notification and alerts</li>
                <li>wish list management</li>
                <li>algorithm to match need with want</li>
              </ol>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby , Framework: Ruby on Rails, Jquery/AJAX ,Database: MySQl ,Server: AWS </p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>3 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>Neeraj and Harish were a pleasure to work with again!   They were knowledgeable, attentive, and consistent with the quality of work they provided throughout the duration of this project.  We are very satisfied overall with both the product we were delivered, as well as the value we received.  We look forward to working with them again, and continuing to develop our professional relationship with such a great team!<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Steven Quintanilla,</strong>  Founder Kirpeep.com</div>
        </li>

        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/cloud_9.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>cloud 9</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>We did entire front end and backend work for this app. Cloud 9 takes your real estate transactions and related documents online - without changing how you work. 
              </p>
              <p>Access documents from any computer, any browser, anywhere. Show up to closing without paper.</p>
              <p>Turn in paperwork by scan, email, or direct upload.</p>
              <p>Stay organized with an "Items Needed" checklist for every transaction.</p>
              <p>Email contracts to clients, lenders, and title companies right from the system.</p>
              <h5 class="heading-service"><span>Features:</span></h5>
              <ol class="list-features">
                <li>User authentication  </li>
                <li>Transaction management</li>
                <li>Document uploading</li>
                <li>Admin Panel</li>
                <li>User management</li>
                <li>Location management</li>
                <li>Checklists management</li>
                <li>Tasks management</li>
                <li>Working documents</li>
                <li>Office documents.</li>
                <li>Normal search</li>
                <li>Advance search.</li>
                <li>Filters</li>
                <li>Email notifications and confirmations.</li>
                <li>Alert messages notifications,and popups</li>
                <li>Profile management</li>
              </ol>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby , Framework: Ruby on Rails, Jquery/AJAX ,Database: MySQl ,Server: AWS </p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>5 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span>This project was extremely important for us and what we got is what we wanted. so keep up the good work.<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Nathan Brown,</strong> cloud 9</div>
        </li>
        <li>
          <div class="contact-leftColumn col-lg-7 col-md-7 col-sm-12">
            <div id="slider-portfolio">
              <img src="/assets/protfolio/abouttrees.png" alt="" title="" />
              <div class="shadowLeftSlider"></div>
            </div>						
          </div>
          <div class="contact-rightColumn col-lg-5 col-md-5 col-sm-12">
            <div class="">
              <h6>Abouttrees</h6>
              <h5 class="heading-service"><span>Product Description:</span></h5>
              <p>
                The FreeMulch.AboutTrees.com wood chips app is a product of AboutTrees.com, run by Mark Russell, I.S.A. Certified Arborist out of Atlanta Ga. He also runs his tree health care company www.770Arborist.com.  
              </p>
              <h5 class="heading-service"><span>Technologies Used:</span></h5>
              <p>Language: Ruby , Framework: Ruby on Rails, Jquery/AJAX ,Database: MySQl ,Server: Heroku </p>	
              <h5 class="heading-service"><span>Duration:</span></h5>
              <p>2 months</p>
            </div>
          </div>
          <div class="commentBox">
            <p><span>"</span> 	
              WOW! Talk about a Rails Rockstar! Best Experience I have had on Odesk yet! Thanks to Neeraj, we have oiur basic web app up and running. He was very responsive, and continually worked through to solve each issue that we brought to him! Worth it 100% Thanks!<span>"</span></p><em></em>
          </div>
          <div class="userSays"><img src="/assets/icon-userSmall.png" title="" alt="" /> <strong>Mark Russell,</strong> wecuttrees</div>
        </li>
      </ul>	
      <div class="clearF"></div>
      <a id="carousel-prev-3" class="prev cbp-biprev" href="javascript:void(0);">&lt;</a>
      <a id="carousel-next-3" class="next cbp-binext" href="javascript:void(0);">&gt;</a>
      <div id="pager-3" class="pager"></div>
    </div>
    <div class="clearFix"></div>
  </div>		
  <div class="box-technology">
    <div class="shadow"></div>
    <h3><em>Our Work So Far</em></h3>
    <div class="list_carousel carousel-portfolio">
      <ul id="carousel" class="list-technology">
        <li>
          <div><a target="_blank" title="Smartquotez" href="http://www.smartquotez.com">	<img src="/assets/protfolio/thumbnail/smartquotez.png" title="Smartquotez" alt="Smartquotez" /></a></div>
        </li>
        <li>
          <div><a target="_blank" title="Mydateishere" href="http://mydateishere.com/"><img src="/assets/protfolio/thumbnail/mydateishere_1.png" title="Mydateishere" alt="Mydateishere" /></a></div>
        </li>
        <li>
          <div><a target="_blank" title="jangalamarket" href="http://www.jangalamarket.com/"><img src="/assets/protfolio/thumbnail/jangalamarket.png" title="jangalamarket" alt="jangalamarket" /></a></div>
        </li>
        <li>
          <div><a target="_blank" title="timeraven" href="https://timeraven.com/"><img src="/assets/protfolio/thumbnail/timeraven.png" title="timeraven" alt="timeraven" /></a></div>
        </li>
        <li>
          <div><a target="_blank" title="flate" href="http://flate.no/"><img src="/assets/protfolio/thumbnail/flate.png" title="flate" alt="flate" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.whenisitopen.ca/" title="whenisitopen"><img src="/assets/protfolio/thumbnail/whenisitopen.png" title="whenisitopen" alt="whenisitopen" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.eduposts.com/" title="eduposts"><img src="/assets/protfolio/thumbnail/eduposts.png" title="eduposts" alt="eduposts" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.enods.com/" title="enods"><img src="/assets/protfolio/thumbnail/enod.png" title="enods" alt="enods" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://47.no/" title="47.no"><img src="/assets/protfolio/thumbnail/47.png" title="http://47.no/" alt="47.no/" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://rcms-app.herokuapp.com/" title="RCMS"><img src="/assets/protfolio/thumbnail/rcms.png" title="RCMS" alt="RCMS" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.homecca.com/" title="Homecca"><img src="/assets/protfolio/thumbnail/homecca.png" title="Homecca" alt="Homecca" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.getsortbox.com/" title="sortbox"><img src="/assets/protfolio/thumbnail/getsortbox.png" title="Sortbox" alt="Sortbox" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://www.tatango.com/" title="tatango"><img src="/assets/protfolio/thumbnail/tatango.png" title="tatango" alt="tatango" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://ec2-54-245-14-77.us-west-2.compute.amazonaws.com" title="Cloud 9"><img src="/assets/protfolio/thumbnail/cloud_dashboard.png" title="Cloud 9" alt="Cloud 9" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://ec2-54-201-154-121.us-west-2.compute.amazonaws.com/" title="BiltySoftware"><img src="/assets/protfolio/thumbnail/bilty_software.png" title="" alt="" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://smo.high5software.com/" title="High5Software"><img src="/assets/protfolio/thumbnail/high5_software.png" title="" alt="" /></a></div>
        </li>
        <li>
          <div><a target="_blank" href="http://kirpeep.com/" title="Kirpeep"><img src="/assets/protfolio/thumbnail/kirpeep.png" title="" alt="" /></a></div>
        </li>
         <li>
          <div><a target="_blank" href="http://abouttrees.com/" title="Abouttrees"><img src="/assets/protfolio/thumbnail/abouttrees.png" title="" alt="" /></a></div>
        </li>
      </ul>
      <div class="clearfix"></div>
      <a id="carousel-prev" class="prev" href="javascript:void(0);">&lt;</a>
      <a id="carousel-next" class="next" href="javascript:void(0);">&gt;</a>
      <div id="pager" class="pager"></div>
    </div>
  </div>
</div>