
<section class="post-wrapper-top dm-shadow" style="background:url(/assets/portibnr-bg.png); height:184px; background-size:100% 184px; ">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 top-height">
            <ul class="breadcrumb" style="color:#000">
                <li><a href="/">Home</a></li>
                <li>Products</li>
            </ul><!-- end breadcrumb -->
            <h2><span style="background:#fff; padding:0.1em; color: #000 ">Our Products</span></h2>
        </div><!-- end col-12 -->
    </div><!-- end container -->
</section><!-- end post-wrapper-top -->

<section class="section-colorizedbg back-color" >
    <div class="container">
        <div class="service_shadow col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                    <a href="#service1" class="" data-toggle="tab"> <i class="dm-icon glyphicon glyphicon-home fa-4x"></i> </a>
                </div>
                <div class="servicetitle">
                    <h3>Real Estate</h3>
                    <hr>
                </div>
             
                <p>Excellent real estate solutions for users and builders</p>
            </div>
        </div>

        <div class="service_shadow col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                    <a href="#service2" class="" data-toggle="tab"> <i class="dm-icon glyphicon glyphicon-shopping-cart fa-4x"></i> </a>
                </div>
                <div class="servicetitle">
                    <h3>Logistic</h3>
                       <hr>
                </div>
           
                <p>logistic solutions that makes your work easy</p>
            </div>
        </div>

        <div class="service_shadow border-ri col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="servicebox">
                <div class="service-icon" data-effect="helix">
                    <a href="#service3" class="" data-toggle="tab"> <i class="dm-icon glyphicon glyphicon-info-sign fa-spin fa-4x"></i> </a>
                </div>
                <div class="servicetitle">
                    <h3>Security</h3>
                    <hr>
                </div>
             
                <p>Get secured from all types of digital threats</p>
            </div>
        </div>

    </div>
</section>

<section class="section-single">
    <div class="container">
        <div class="fullwidth-post-wrapper col-lg-12">
            <div class="section-title text-center">
                <h2 class="bigtitle">We offer <span class="rotate">Real Estate, Logistic, Security</span> Solutions</h2>
                <h5 class="lead">Please have a look at our fantastic products used by thousands of people.</h5>
                <hr>
            </div><!-- end section-title -->

            <div class="general_wrapper clearfix">    

                <div class="tab-services clearfix">
                    <ul id="servicetab" class="nav nav-tabs">
                        <li class="active"><a name="service1" href="#service1" data-toggle="tab"><i class="glyphicon glyphicon-th-list"></i> <strong>REAL ESTATE</strong></a></li>
                        <li><a name="service2" href="#service2" data-toggle="tab"><i class="glyphicon glyphicon-cloud"></i> <strong>LOGISTIC</strong></a></li>
                        <li><a name="service3" href="#service3" data-toggle="tab">
                            <i class="glyphicon glyphicon-user"></i> <strong>SECURITY</strong></a></li>
                    </ul><!-- servicetab -->

                    <div id="servicetabcontent" class="tab-content">

                        <div class="tab-pane fade in active clearfix" id="service1">
                            <div class="panel-group" id="accordion1">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                                                <i class="glyphicon glyphicon-cog"></i> Ezyprops
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h4>Ruby on Rails framework <span style="float:right;">(<a href="http://www.ezyprops.com/" target="_blank" style="color: #3171bf">www.ezyprops.com</a>)</span></h4>
                                            <p align="justify">Ezyprops is one of the India's fastest growing property information website that helps connect buyers and sellers of real estate across the country and also notify and alert customer base available online on social media networks. Property buying for Indians is a big financial and emotional decision taken by the family together. Hence we at ezyprops deliver the best of the statics to help you the take the decision well and put your money in the right place. Whether you wish to buy, rent or lease a private or commercial property, you are at the right place just travel to the property using our map based search tool to suite your needs. You can filter the search results and identify new / existing India properties that meet the expectations. You can then contact the Sellers through e-mail / SMS or phone for concluding a transaction.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                                                <i class="glyphicon glyphicon-cog"></i> Privacy Policy
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">This Privacy policy is subject to the terms of the Site Policy (User agreement) of ezyprops.com. This policy is effective from the date and time a user registers with ezyprops.com by filling up the Registration form and accepting the terms and conditions laid out in the Site Policy.</p>
                                            <p align="justify">In order to provide a spam free reliable and customized browsing experience, ezyprops.com may collect personal information from you. Additionally some of our websites may require you to complete a registration form or seek some information from you. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end.</p>
                                            <p align="justify">To extend this personalized experience ezyprops.com may track the IP address of a user's computer and save certain information on your system in the form of cookies. A user has the option of accepting or declining the cookies of this website by changing the settings of your browser. The personal information provided by the users to ezyprops.com will not be provided to anyone in any conditions, its collected to provide you with supreme browsing experience.</p>
                                            <p align="justify">Since ezyprops.com is just a communication platforms for users we will not ask you to register to create password. So please don’t disclose any private information on ezyprops.com. Just feel free to browse around listed properties and contact buyers and sellers for further communication.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree">
                                                <i class="glyphicon glyphicon-cog"></i> Costing
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">Posting the property is free for all users however if you can to get access to dedicated builder management module where each builder can manage all his properties along with individual incomes and expenses with a graphical view and dedicated employee / vendor / quotes / clients management modules, you can contact@dine-media.com for a demo.</p>

                                            <!--<p align="justify">Prices for admin panel : 30,000 INR per month <a href="javascript:;"><input type="submit" value="> PAY NOW" id="submit" class="btn btn-primary small"></a></p>
                                            <p><form role="form" method="post" action="http://www.ezyprops.com" onClick="Submit">
                            </form>-->

                                            <p align="justify">
                                            <form role="form" name="form" method="post" action="#" onClick="Submit" >
                                                <input type="hidden" name="MAmount" id="MAmount" value="30000" />
                                                <input type="hidden" name="code" value="356" />
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-4 control-label">Prices for admin panel : 30,000 INR per month : </label>
                                                    <div class="col-lg-3">
                                                      <!--<button class="btn btn-primary" type="submit" id="Submit" onclick="javascript:;"><i class="fa fa-angle-right"></i> PAY NOW</button>-->
                                                      <a href="javascript:;" class="btn btn-primary"><i class="fa fa-angle-right"></i> PAY NOW</a>
                                                    </div>
                                                </div>
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end tabpane -->

                        <div class="tab-pane fade clearfix" id="service2">
                            <div class="panel-group" id="accordion2">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
                                                <i class="glyphicon glyphicon-cog"></i> Chti
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseNine" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h4><span style="float:right">(<a href="http://chti.in/" target="_blank" style="color: #3171bf">www.chti.in</a>)</span></h4>
                                            <p align="justify">Chti is a logistic management solution managing end-end operations for any logistic company with a dedicated management dashboard and features to manage different locations and offices.</p>
                                            <p align="justify">It has features like: LR Entry, lorry challan, powerful search based on time date and bilty number, expenses and branch management, along with user profiles and setting to manage the application, it has got the facility to generate unique bar codes with each bilty generated which can be scanned for relevant information and save a lot of time.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
                                                <i class="glyphicon glyphicon-cog"></i> Costing
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">
                                            <form role="form" name="form" method="post" action="http://dine-media.com/payments/Index.html" onClick="Submit"  target="_blank">
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-3 control-label">Chti is sold per license :</label>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" id="ooovvv" name="MAmount" onchange="ChangeValue(this);">
                                                            <option value="50,000">( 1-5 branches )</option>
                                                            <option value="70,000">( 5-10 branches) </option>
                                                            <option value="1,00,000">( 10-15 branches ) </option>
                                                            <option value="1,25,000">( 15-20  branches) </option>
                                                            <option value="1,50,000">( 20-30 branches ) </option>
                                                            <option value="1,75,000">( 30-40 branches ) </option>
                                                            <option value="2,00,000">( 40-50 branchs ) </option>
                                                            <option value="please ask for quote">( more than 50 ) </option>
                                                        </select>
                                                        <input type="hidden" name="code" value="356" />
                                                        <script>
                                                          function ChangeValue(tjs) {
                                                              $("#optionvalue").text(tjs.value)
                                                          }
                                                        </script>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <span id="optionvalue">50,000</span>
                                                    </div>
                                              <!--      <button class="btn btn-primary" type="submit" id="Submit">PAY NOW</button>-->
                                                <a href="javascript:;" class="btn btn-primary"><i class="fa fa-angle-right"></i> PAY NOW</a>

                                                </div>
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end tabpane -->

                        <div class="tab-pane fade clearfix" id="service3">
                            <div class="panel-group" id="accordion3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFourteen">
                                                <i class="glyphicon glyphicon-cog"></i> Secure your Precious Information with all Threats -     Dine-Media is just a payment processor for its clients
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFourteen" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <h4>Overview</h4>
                                            <p align="justify">We build what you need, easy to use by any novice. No configurations required. Lightning fast installation & runs in the back ground in silent mode without any interruption. Light on your system resources, you don't even notice it's running in the background & protecting you."One chosen solution with high performance cyber threat protection"</p>
                                            <p>&nbsp;</p>
                                            <h4>Proactive Approach</h4>
                                            <p align="justify">Proactive Prevention from Unknown Threats (zero-day exploits), which can be prevented and disinfects by MSecure anti virus Code Emulations. The entire process is done without user’s interruption and doesn’t impact on your system performance. In most cases MSecure anti virus can identify and stop a new threat without requiring an update. However, MSecure anti virus automatically checks hourly for updates to signatures and heuristics, providing a solid backup to the proactive detection.</p>
                                            <p>&nbsp;</p>

                                            <h4>Remote administrator console</h4>
                                            <p align="justify">This is perhaps one of the greatest features that MSecure anti virus offers. It has a very powerful management tool making everything centralized. This is easy-to-use allowing administrators to deploy, manage and maintain systems in various locations. Some of the added features include:</p>

                                            <ul type="square" style="margin-left:3em;">
                                                <li>Provides you full visibility into user activity no matter where they are in LAN & WAN.</li>
                                                <li>Enforce a different policy for offsite users and onsite users..</li>
                                                <li>Create a security policy once and then deploy it across multiple groups.</li>
                                                <li>Easy-to-use interface..</li>
                                                <li>Easy to create / manage groups and endpoints clients.</li>
                                                <li>Easier deployment of customized settings to per groups / per client.</li>
                                                <li>A single dashboard lets you see endpoint protection status, actions and events</li>
                                                <li>Easy to create sub-admins &mp assign rights.</li>
                                                <li>Role-based administration allows you to share and delegate responsibility for actions..</li>
                                                <li>Easier control of policies and setting to workstations</li>
                                                <li>Tracker of threat history and events</li>
                                                <li>Detailed reporting feature that tackles pre-defined and customizable system reports</li>
                                                <li>Better and more flexible management of huge networks</li>
                                                <li>Single Console to manager both antivirus & web-security</li>
                                                <li>Easy-to-use installation wizard with zero configuration</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseFifteen">
                                                <i class="glyphicon glyphicon-cog"></i> Refund Policy
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFifteen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">In case of dissatisfaction from our services, clients have the liberty to cancel their projects and request a refund from us. Our Policy for the cancellation and refund will be as follows:</p>

                                            <h4>Cancellation Policy</h4>
                                            <p align="justify">Cancellation of service renewals for on-going website promotion, website hosting or domain registration services must be made at least seven 7 business days prior to the end of the current service period.</p>
                                            <p align="justify">Requests received later than seven 7 business days prior to the end of the current service period will be treated as cancellation of services for the next service period.</p>

                                            <h4>Refund Policy</h4>
                                            <p align="justify">We will try our best to give superior services and products to our clients</p>
                                            <p align="justify">In case any client is not completely satisfied with our services we can provide a <b>refund within 48 hours</b> from the date and time of sale of the Project. The final refunds will be made after deducting the Service Tax and the Hourly charges for the work completed by us.</p>
                                            <p align="justify">If paid by credit card, refunds will be issued to the original credit card provided at the time of purchase and in case of Payment Gateway Name payments refund will be made to the same account.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSixteen">
                                                <i class="glyphicon glyphicon-cog"></i> Privacy Policy
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSixteen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">The following privacy policy describes the information and privacy practices for dine-media interactive services provided at dine-media interactive. This privacy policy describes how dine-media interactive Agents will collect and use your information. All information provided to dine-media interactive may be shared with dine-media interactive. When you provide a Agent with your personal information, you consent to the information practices described in this policy. Dine-Media makes sure that your valuable information is not stored anywhere on our machines. Also dine media is just a payment processor for its clients who are selling the antivirus products to its customers. Dine-Media doesnot own any security product and bears no responsibility to any misconduct. Please be advised to only purchase product after satisfiction and review. </p>

                                            <p align="justify">This privacy policy may not apply to Web sites that are accessible through the dine-media interactive may contain links to other sites operated by third parties including, but not limited to, third-party sites that displaydine-media interactive trademarks. We encourage you to read the privacy policies of those other sites to learn how they collect, use, and share and secure your information. To assist you with reading through our privacy policy, we have provided questions and answers below that you may find helpful in understanding our privacy practices:</p>

                                            <h4>When does dine-media interactive collect information from me?</h4>
                                            <p align="justify">When using products or services available from www.dine-media.com, you may be asked to provide personal information. For example, you may be asked to provide personal information when you schedule an appointment for services; bring in your product for service; purchase products; contact www.dine-media.com call centers; initiate a chat session with www.dine-media.com.</p>

                                            <h4>How is my information used?</h4>
                                            <p align="justify">www.dine-media.com uses the information you provide to fulfill requests for service or information; provide customer service; promotions or surveys; offer new products or services; improve the effectiveness of our Web site, marketing endeavors and offers; conduct research and analysis; send marketing communications; or perform other business activities.</p>

                                            <h4>Does www.dine-media.com. share my personal information with others?</h4>
                                            <p align="justify">www.dine-media.com does not sell or rent your personal information to third parties, although we may need to share your personal information with certain third parties such as our service providers and other representatives for limited purposes. For example, www.dine-media.com. may share personal information with third parties to send marketing communications; service products; conduct research, analysis or administer surveys; send mail and e-mail; process credit card payments, data storage, and hosting services. The third parties with whom www.dine-media.com. conducts business are only authorized to use your information to perform the service for which they were hired. As part of our agreement with them, they are required to follow the privacy guidelines given to them and to take reasonable measures to ensure your personal information is secure. From time to time, we may be required to share personal information in response to a valid court order, subpoena, government investigation, or as otherwise required by law. We also reserve the right to report to law enforcement agencies any activities that we, in good faith, believe to be unlawful www.dine-media.com may share certain personal information when we believe that such release is reasonably necessary to protect the rights, property, and safety of ourselves and others. www.dine-media.com may also transfer personal information in the event of a corporate sale, merger, acquisition, dissolution or similar event.</p>

                                            <h4>How does www.dine-media.com secure my personal information?</h4>
                                            <p align="justify">Security: www.dine-media.com takes reasonable precautions to protect Personal Information from loss, misuse and unauthorized access, disclosure, alteration and destruction. www.dine-media.com website has safeguards in place to protect the loss, misuse and alteration of the data you provide to us with physical, electronic, and managerial procedures. In certain areas of www.dine-media.com website, www.dine-media.com uses industry-standard SSL-encryption to enhance the security of data transmissions. While www.dine-media.com strives to protect your Personal Information, www.dine-media.com Designs cannot guarantee the security of the Personal Information, so www.dine-media.com urges you to take every precaution to protect your personal data when you are on the Internet. Change your passwords often, use a combination of letters and numbers, and make sure you use a secure browser. Within www.dine-media.com, data is stored in controlled servers with limited access by authorized personnel...</p>

                                            <h4>Does www.dine-media.com use cookies to collect information about me?</h4>
                                            <p align="justify">A cookie is a small data file that a Web site or e-mail may send to your browser, which may then be stored on your hard drive. www.dine-media.com Designs e-mails and Web sites may use cookies to create a more personalized user experience for visitors. These simulate a continuous connection, letting us remember information about your preferences and session. www.dine-media.com uses a third party to place cookies on your computer. Although these may contain a unique user ID, they do not collect or store any identifiable personal information. The www.dine-media.com web server automatically collects click stream information such as the address (URL) of the Web site that you came from before visiting www.dine-media.com which pages you visit on our site while you are there, which browser you used to view our site, and any search terms you may have entered, among other things. www.dine-media.com may also use anonymous click stream data to track which pages visitors view. This helps us understand how visitors use our sites.</p>

                                            <ol type="1" style="margin-left:3em; text-align:justify;">
                                                <li>Member account, password and security: If any of the Services requires you to open an account, you must complete the registration process by providing us with current, complete and accurate information as prompted by the applicable registration form. You also will choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and account. Furthermore, you are entirely responsible for any and all activities that occur under your account. You agree to notify www.dine-media.comDesigns immediately of any unauthorized use of your account or any other breach of security. www.dine-media.com will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. However, you could be held liable for losses incurred by www.dine-media.com or another party due to someone else using your account or password. You may not use anyone else account at any time, without the permission of the account holder. We prefer to keep your personal information accurate and up-to-date. To do this, we provide you with the opportunity to update or modify your personal information including billing and shipping information by logging into your account. When you create or change your account, we will send a message to the email address confirming the changes made and options you have chosen. www.dine-media.com periodically distributes an e-mail newsletter, and you choose whether you want to receive a newsletter from us when you create your account. If you later decide not to receive the newsletter, you can remove yourself from the mailing list at any time.</li>
                                                <li>Forgotten, Lost or Stolen Information: If you have forgotten your password, we provide a mechanism that e-mails your password to you. Since the "forgot my password" feature sends your password to the email address that you used for registration, do not use an email address that can be accessed by others that you would not want to see or change your www.dine-media.com account information. Always use caution when giving out any personally identifiable information about yourself or your children in any Communication Services. www.dine-media.com does not control or endorse the content, messages or information found in any Communication Services and, therefore, www.dine-media.com specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Services. Managers and hosts are not authorized www.dine-media.com spokespersons, and their views do not necessarily reflect those of www.dine-media.com</li>
                                            </ol>

                                            <h4>How can I update my information?</h4>
                                            <p align="justify">www.dine-media.com wants your information and marketing preferences to be complete and accurate. To update your information, call us, send an e-mail to contact@dine-media.com. If you send an e-mail request please include your current contact information and list the requested changes you would like to have made.</p>

                                            <h4>Does www.dine-media.com collect information from children?</h4>
                                            <p align="justify">www.dine-media.com will not knowingly or intentionally collect personal information online from children under the age of 13. www.dine-media.com is committed to protecting the privacy of children.</p>

                                            <h4>Who can I contact with questions about the security of my information?</h4>
                                            <p align="justify">Please contact our privacy manager to report any known or suspected privacy or security breaches or to submit privacy or security-related questions or complaints. After receiving your inquiry, we will respond within five business days. You may call us , e-mail a request to: contact@dine-media.com</p>

                                            <h4>Will this privacy policy change?</h4>
                                            <p align="justify">Because www.dine-media.com will continue to implement new technologies and improve the services and features provided, this policy is subject to change. If there are changes or additions to this privacy policy, we will post them here or in other formats. If we change our information practices or this privacy policy in such a way that your personal information may be used or shared in a different manner, we will give you the opportunity to opt out of having your information used or shared in that new manner.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeventeen">
                                                <i class="glyphicon glyphicon-cog"></i> Term and Conditions Policy
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSeventeen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <h4>Dine-Media (www.dine-media.com) Software and Website Development Terms & Conditions</h4>
                                            <p align="justify">Dine-Media (www.dine-media.com) provides Products, Website Development and manpower Services (collectively, hereinafter referred to as "Services") subject to any customer's or buyer's (hereafter referred to as "Client") acceptance of and compliance with the Terms and Conditions (hereinafter referred to as "Terms") and the terms and conditions of the Service Level Assurance Agreement (hereafter referred to as "SLA") outlined below:</p>

                                            <h4>Term</h4>
                                            <p align="justify">The Terms of the Agreement will commence on the date on which the Client enrolls for our Services and will end when anyone of the parties terminate it.</p>

                                            <h4>Description of Service:</h4>
                                            <p align="justify">Dine-Media (www.dine-media.com) may provide the Client with one or more of the following Services depending on the service package that the Client selects: Software Development Business website, Business-related website pages, Search Engine Marketing, Search Engine Optimization, Third party Content, Storage space, Domain-based e-mail Services, Website hosting, or maintenance and support Services. Unless explicitly stated otherwise, any new feature that augments or enhances the Services shall be considered to be part of the Services.</p>

                                            <p align="justify">Dine-Media (www.dine-media.com) reserves the right to modify, suspend or discontinue the Services (or any part thereof), if there is non-cooperation, nonpayment, or unwanted delay on the part of the client, at any time, without notice. Client expressly agrees that Client, or any related third party, shall not hold Dine-Media (www.dine-media.com) or its suppliers liable for any losses, damages or consequences whatsoever for such modification, suspension or discontinuation of the Services.</p>

                                            <h4>Access to Information:</h4>
                                            <p align="justify">For purposes of the Agreement, all web pages that are owned, operated or hosted by, or on behalf of, Dine-Media (www.dine-media.com), are herein referred to as the "Websites".</p>
                                            <p align="justify">To access the Services or "Websites" of Dine-Media Pvt. Ltd. (www.dine-media.com), the Client may be asked to provide certain registration details or other information that must be correct, current, and complete in all respects. If at any stage, Dine-Media (www.dine-media.com) has reasons to believe that the information provided by the Client is not correct, current, or complete, Dine-Media (www.dine-media.com) shall have the right to refuse the Client any access to the Websites or Services of them.</p>

                                            <h4>Payment for Services or Products:</h4>
                                            <p align="justify">The Client agrees to pay Dine-Media (www.dine-media.com) the service fee, for any Program or Service that the Client may enrolls in, in pursuance to the terms of the Payment Plan the Client selects. The client shall pay, the taxes, if any, levied on him in addition to the payment plan.</p>
                                            <p align="justify">The Client expressly understands, acknowledges and hereby authorizes Dine-Media (www.dine-media.com) to charge the Credit Card of the Client or to Debit Client's Bank account as per the agreed Payment Plan of the particular Services/Websites the client selects.</p>
                                            <p align="justify">The Client shall pay an upfront fee (advance fee) as per the Payment Plan along with the order for the particular Services/Websites the client selects and agrees with the Service Provider (Dine-Media Pvt. Ltd. (www.dine-media.com). The details and invoice for it will be emailed to the client no later than 48 working hours by the Service Provider.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) also reserves the right to resort to means of Debt Collection Services etc if the case so arises for collection of Past Due Payments and customer shall be liable for all collection costs, including attorneys' fees etc. If the client does not respond for 7 days without any notification we are entitled to charge the due amount to the customer and the amount would not be refunded.</p>
                                            <p align="justify">In the interests of security and to safeguard both parties from payment frauds, Dine-Media (www.dine-media.com) may request for documents if applicable, to ensure that the client is the cardholder and authorized to make the payment on behalf of the business or individual. The client agrees to submit these documents as and when requested. These are required by law, in accordance with the security compliance procedures of Dine-Media Pvt. Ltd. (www.dine-media.com) and its suppliers. These may be in the form of:</p>

                                            <ul type="none" style="margin-left:3em;">
                                                <li>A signed copy of the Task Order</li>
                                                <li>A copy of the FRONT SIDE ONLY of your Credit or Debit Card</li>
                                                <li>An ID proof in the form of:</li>
                                                <li>A Driving License</li>
                                                <li>A National ID card</li>
                                                <li>Any Photo ID issued by the government of Client's respective country.</li>
                                                <li>The name appearing on the statement would be Dine-Media</li>
                                            </ul>

                                            <h4>Payments for Renewals of the Website, Domain, Hosting, Server Space and other subscriptions.</h4>
                                            <p align="justify">Dine-Media(www.dine-media.com) will send an email 3 month prior to expiry of Website, Domain, Hosting, Server Space and other relevant subscriptions to the client, informing about the due date of renewal.</p>
                                            <p align="justify">No sooner than 60 (Sixty) days prior to expiry, Dine-Media Pvt. Ltd. (www.dine-media.com) will attempt to contact Client who had not renewed their relevant subscriptions on the first notice. Client will be requested to renew at this stage.</p>
                                            <p align="justify">No later than 40 (Forty) days prior to expiry, Dine-Media Pvt. Ltd. (www.dine-media.com) will put the status "Website under maintenance" for customers who are still not contactable. If still unsuccessful, Dine-Media (www.dine-media.com) will notify its suppliers of the same in time and request to cancel the domain on expiry.</p>
                                            <p align="justify">All customers must be informed at Acquisition of the renewal charges.</p>

                                            <h4>Cancellation & Refunds Policy:</h4>
                                            <p align="justify">All amounts owed by the client to Dine-Media (www.dine-media.com) for Services rendered prior to the verified cancellation date must be paid in full. There will be no prorating for partial months throughout the Agreement. Due to account security and privacy concerns, all billing related questions and cancellation requests MUST be made in writing or via email. Cancellation requests will only be processed if made by the initial authorizing party and if received in writing. There will be no refunds of any monies for any cancellation requests made after the cooling off period of 7 days from the date of order. For security and training purposes, all calls inbound and outbound through Dine-Media Pvt. Ltd. (www.dine-media.com) corporate offices are digitally recorded and the recordings form a part of the verbal contract between Dine-Media (www.dine-media.com) and the client.	Any cancellations done after the cooling off period by the client, for any reason whatsoever, will lead to a full payment of the agreed price and immediate termination of the contract, until otherwise mutually agreed between Dine-Media (www.dine-media.com) and the Client.</p>

                                            <h4>Receivables Policy:</h4>
                                            <p align="justify">As Mproinfotech (www.dine-media.com) provides a bill-through service, the company takes a significant credit risk for each and every Client. Therefore, Client is responsible to maintain an active and valid payment method on file at all times.</p>
                                            <p align="justify">If for any reason, Client's payment method is not available, Dine-Media Pvt. Ltd. (www.dine-media.com) reserves the right to immediately and temporarily turn off the website, pay-per-click ads, sponsored listings and ongoing or then current production, reporting, or support Services being provided to account.</p>
                                            <p align="justify">If the payment is not received, Dine-Media (www.dine-media.com) reserves the right to terminate the Agreement in full and retain ownership of the website, domain name, or other Services until such time the account has been paid in full.</p>
                                            <p align="justify">All Term Commitment Terminations will result in an escalation of all fees owed under the Terms of the Agreement. Many Clients maintain multiple forms of payment on file to prevent this from occurring.</p>

                                            <h4>Representations and Warranties:</h4>
                                            <p align="justify"><strong>Client represents warrants and covenants that:</strong> Client has sufficient authority to enter into the Agreement</p>
                                            <p align="justify">Client is a business, and that Client's use of Dine-Media Pvt. Ltd. (www.dine-media.com) Services is solely for lawful commercial and business purposes</p>

                                            <h4>Client has the necessary rights to provide all information provided under the Agreement for use as described in the Agreement, and that all such information and all claims, statements, products and Services contained or referenced therein and in the website to which it links:</h4>
                                            <p align="justify">Do not violate any law, statute, ordinance, treaty or regulation or Dine-Media (www.dine-media.com) policy or guideline</p>
                                            <p align="justify">Do not infringe any copyright, patent, trademark, trade secret or other intellectual property right of any third party</p>
                                            <p align="justify">Do not breach any duty toward or rights of any person or entity including rights of publicity or privacy, and have not otherwise resulted in or are not likely to result in any consumer fraud, product liability, tort, breach of contract, injury, damage or harm of any kind to any person or entity</p>
                                            <p align="justify">Are not false, deceptive or misleading</p>
                                            <p align="justify">Are not defamatory, libelous, slanderous or threatening</p>
                                            <p align="justify">Will be free of viruses, Trojan horses, trap doors, back doors, Easter eggs, worms, time bombs, cancel bots or other computer programming routines that may potentially damage, interfere with intercept, or expropriate any system data or personal information;</p>

                                            <h4>Comply with the applicable Program Terms:</h4>
                                            <p align="justify">Comply with all laws regarding unsolicited electronic messages (including without limitation, the CAN-SPAM Act of 2003 and Client will not engage in any form of spamming or other impermissible marketing activities through any Dine-Media (www.dine-media.com) Program.</p>

                                            <h4>Indemnification:</h4>
                                            <p align="justify">Client will indemnify and hold Dine-Media (www.dine-media.com), its subsidiaries, affiliates, content providers, service providers, employees, agents, officers, directors, and contractors (the "Indemnified Parties") harmless from any breach of these Terms and Conditions or the applicable Program Terms by Client, including any use of content and third-party content developed by Dine-Media (www.mproinfotch.com) other than as expressly authorized in these Master Terms and Conditions.</p>
                                            <p align="justify">Client agrees that the Indemnified Parties will have no liability in connection with any such breach or unauthorized use, and Client agrees to indemnify any and all resulting loss, damages, judgments, awards, costs, expenses, and attorneys' fees of the Indemnified Parties in connection therewith. Client will also indemnify and hold the Indemnified Parties harmless from and against any claims brought by third parties arising out of Client's use of the information accessed from Mark Web Solutions (www.dine-media.com).</p>

                                            <h4>Trademarks:</h4>
                                            <p align="justify">Trademarks, Service-marks, and Logos appearing on this site are the property of Dine-Media (www.dine-media.com) or the party that provided the trademarks, service marks, and logos to Mark Web Solutions (www.dine-media.com). Dine-Media (www.dine-media.com) and any party that provided trademarks, service marks, and logos to Dine-Media Pvt. Ltd. (www.dine-media.com) retain all rights with respect to any of their respective trademarks, service marks, and logos appearing in this site.</p>

                                            <h4>Security:</h4>
                                            <p align="justify">Any passwords used for this site are for individual use only. Client will be responsible for the security of Client's password (if any). Dine-Media (www.dine-media.com) will be entitled to monitor Client's password and, at its discretion, require Client to change it. If Client uses a password that Mark Web Solutions Managment Services Pvt. Ltd. (www.Mark Web Solutionsweb.co.uk) considers insecure, Dine-Media Pvt. Ltd. (www.dine-media.com) will be entitled to require the password to be changed and/or terminate Client's account.</p>
                                            <p align="justify">Client will notify Dine-Media (www.dine-media.com) immediately if Client believes that the security of Client's account has been compromised. Mark Web Solutions Managment Services Pvt. Ltd. (www.Mark Web Solutionsweb.co.uk) AND ITS SUPPLIERS SHALL NOT BE LIABLE FOR LOSSES OR DAMAGES RESULTING FROM ANY SECURITY BREACHES.</p>
                                            <p align="justify">Client is prohibited from using any Services or facilities provided in connection with Dine-Media (www.dine-media.com) to compromise security or tamper with system resources and/or accounts. The use or distribution of tools designed for compromising security (e.g., password guessing Services, cracking tools or network probing tools) is strictly prohibited. If Client becomes involved in any violation of system security.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) reserves the right to release Client's details to system administrators at other sites in order to assist them in resolving security incidents. Dine-Media (www.dine-media.com) reserves the right to investigate detected violations of these Master Terms and Conditions.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) reserves the right to fully cooperate with any law enforcement authorities or court order requesting or directing Dine-Media Pvt. Ltd. (www.dine-media.com) to disclose the identity of anyone posting any e-mail messages, or publishing or otherwise making available any materials that are believed to violate these Terms and Conditions.</p>
                                            <p align="justify">BY ACCEPTING THIS AGREEMENT CLIENT WAIVE AND HOLD HARMLESS Dine-Media Pvt. Ltd. (www.dine-media.com) FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY Dine-Media (www.dine-media.com) DURING OR AS A RESULT OF ITS INVESTIGATIONS AND/OR FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY EITHER Mark Web Solutions (www.dine-media.com) OR LAW ENFORCEMENT AUTHORITIES.</p>

                                            <h4>Proprietary Information:</h4>
                                            <p align="justify">The material and content accessible from this site, and any other World Wide Website owned, operated, licensed, or controlled by Mark Web Solutions Managment Services Pvt. Ltd. (www.dine-media.com) (the "Content") is the proprietary information of Dine-Media</p>
                                            <p align="justify">or the party that provided the Content to Dine-Media Pvt. Ltd. (www.dine-media.com) retains all right, title, and interest in the Content.</p>
                                            <p align="justify">The Content may not be copied, distributed, republished, uploaded, posted, or transmitted in any way without the prior written consent of Dine-Media (www.dine-media.com), except that Client may print out a copy of the Content solely for Client's internal use.</p>
                                            <p align="justify">Client may not remove or alter, or cause to be removed or altered, any copyright, trademark, trade name, service mark, or any other proprietary notice or legend appearing on any of the Content. Modification or use of the Content except as expressly provided in these Terms and Conditions is prohibited. Neither title nor intellectual property rights are transferred to Client by access to the Services or Dine-Media (www.dine-media.com) Websites.</p>

                                            <h4>Client is expressly prohibited, directly or indirectly through any third party, from any of the following:</h4>
                                            <ol type="1" style="margin-left:3em;">
                                                <li>Copying, modifying, creating a derivative work of, reverse engineering, reverse assembling or otherwise attempting to discover the source code of any software pertaining to the Services or Dine-Media Pvt. Ltd. (www.dine-media.com) Websites</li>
                                                <li>Renting, leasing, selling, assigning, transferring, sublicensing, re-licensing, granting a security interest in, or gaining unauthorized access to the Services or Dine-Media Pvt. Ltd. (www.dine-media.com) Websites.</li>
                                                <li>Accessing the Services or Dine-Media(www.dine-media.com) Websites by any means other than through the interface that is provided by Mark Web Solutions (www.Mark Web Solutionsweb.co.uk) for use in accessing the Services or Dine-Media (www.dine-media.com) Websites.</li>
                                            </ol>

                                            <p align="justify">Dine-Media Pvt. Ltd. (www.dine-media.com) suppliers are the exclusive owners of all right, title and interest in and to the Services or Dine-Media Pvt. Ltd. (www.dine-media.com) Websites along with any and all related intellectual property rights including, without limitation, all associated rights under the laws of copyright (including derivative works), trademarks and patent. Nothing in this Agreement shall be deemed to limit or restrict Dine-Media Pvt. Ltd. (www.dine-media.com) suppliers from providing its Services, Dine-Media Pvt. Ltd. (www.dine-media.com) Websites or technology to any third party for any purpose whatsoever, or in any way affect the rights granted to such other third parties. The use of any of the Services or Dine-Media Pvt. Ltd. (www.dine-media.com) Websites shall in no way be construed by any user as granting or conferring upon them any intellectual property rights whatsoever.</p>

                                            <h4>External Sites:</h4>
                                            <p align="justify">This site may be hyper-linked to other external sites that are not maintained by, or related to, Dine-Media. (www.dine-media.com) Hyper-links to such sites are provided as a service to users and are not sponsored by or affiliated with this site or Dine-Media . (www.dine-media.com). Dine-Media. (www.dine-media.com) has not reviewed any or all of such sites and is not responsible for the content of those sites. Hyper-links are to be accessed at Client's own risk, and Dine-Media. (www.dine-media.com) makes no representations or warranties about the content, completeness or accuracy of these hyper-links or the sites hyper-linked to this site. Further, the inclusion of any hyper-link to a third-party site does not necessarily imply endorsement by Dine-Media (www.dine-media.com) of that site.</p>

                                            <h4>Information Provided:</h4>
                                            <p align="justify">Client would provide Dine-Media (www.dine-media.com) information required to make the site livecontents, images, videos, logos, and other relevant with the necessary within the agree	d timeline.</p>
                                            <p align="justify">In the event that the Client fails to provide the contents, images, information, videos, logos, Dine-Media (www.dine-media.com) would complete the website with suitable data provided or with "Coming Soon" text or "Image Not Available" in case of images.</p>
                                            <li>Dine-Media (www.dine-media.com) will also inform the Client at least 3 Working Days in advance of such site being made live with and would charge the card for the due amount on site completion.</li>

                                            <h4>Client may not post, send, submit, publish, or transmit in connection with this site any material that:</h4>
                                            <p align="justify">Client does not have the right to post, including proprietary material of any third party; Advocates illegal activity or discusses an intent to commit an illegal act;</p>
                                            <p align="justify">Is vulgar, obscene, pornographic, or indecent;</p>
                                            <p align="justify">Does not pertain directly to this site;</p>
                                            <p align="justify">Threatens or abuses others, libels, defames, invades privacy, stalks, is obscene, pornographic, racist, abusive, harassing, threatening or offensive;</p>
                                            <p align="justify">Seeks to exploit or harm children by exposing them to inappropriate content, asking for personally identifiable details or otherwise; Infringes any intellectual property or other right of any entity or person, including violating anyone's copyrights or trademarks or their rights of publicity;</p>
                                            <p align="justify">Violates any law or may be considered to violate any law;</p>
                                            <p align="justify">Impersonates or misrepresents Client's connection to any other entity or person or otherwise manipulates headers or identifiers to disguise the origin of the content;</p>
                                            <p align="justify">Advertises any commercial endeavor (e.g., offering for sale products or Services) or otherwise engages in any commercial activity (e.g., conducting raffles or contests, displaying sponsorship banners, and/or soliciting goods or Services) except as may be specifically authorized on this site;</p>
                                            <p align="justify">Solicits funds, advertisers or sponsors;</p>
                                            <p align="justify">Includes Services which contain viruses, worms and/or Trojan horses or any other computer code, files or Services designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications;</p>
                                            <p align="justify">Disrupts the normal flow of dialogue, causes a screen to scroll faster than other users are able to type, or otherwise act in a way which affects the ability of other people to engage in real time activities via this site; Includes MP3 format files;</p>
                                            <p align="justify">Amounts to a 'pyramid' or similar scheme;</p>
                                            <p align="justify">Disobeys any policy or regulations established from time to time regarding use of this site or any networks connected to this site; or Solicits funds, advertisers or sponsors;</p>
                                            <p align="justify">Contains hyper-links to other sites that contain content that falls within the descriptions set forth above.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) reserves the right to monitor use of this site to determine compliance with these Master Terms and Conditions, as well the right to remove or refuse any information for any reason. Notwithstanding these rights, Client remains solely responsible for the content of Client's submissions.</p>
                                            <p align="justify">Client acknowledges and agrees that neither Mpro info tech (www.dine-media.com) nor any third party that provides Content to Dine-Media (www.dine-media.com) will assume or have any liability for any action or inaction Dine-Media (www.dine-media.com) or such third party with respect to any submission.</p>
                                            <p align="justify">Submissions: Client hereby grants to Dine-Media (www.dine-media.com) the royalty-free, perpetual, irrevocable, worldwide, non-exclusive right and license to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, and display all content, remarks, suggestions, ideas, graphics, or other information communicated to Dine-Media (www.dine-media.com) through this site (together, the "Submission"), and to incorporate any Submission in other works in any form, media, or technology now known or later developed.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) will not be required to treat any Submission as confidential, and may use any Submission in its business (including without limitation, for products or advertising) without incurring any liability for royalties or any other consideration of any kind, and will not incur any liability as a result of any similarities that may appear in future Dine-Media (www.dine-media.com) operations.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) and its suppliers do not claim ownership rights in any Content that Client owns, or are owned by a third party, and that Client has provided for inclusion in the Services and/or incorporation onto Client's website. Accordingly, Client is solely responsible for ensuring that said Content does not violate any of Dine-Media (www.dine-media.com) policies or rig or any rd party's rights.</p>
                                            <p align="justify">Dine-Media (www.dine-media.com) will treat any personal information that Client submits through this in accordance with its Privacy Policy.</p>

                                            <h4>Communication from Dine-Media (www.dine-media.com):</h4>
                                            <p align="justify">Client agrees to receive all communications from Dine-Media (www.dine-media.com), whether via telephone, facsimile, or e-mail, and expressly agree not to consider any such communication(s) as unsolicited. Refusal to receive such communications from Dine-Media (www.dine-media.com) will constitute grounds for termination of this Agreement and deactivation of Client's Website.</p>

                                            <h4>Termination for Cause:</h4>
                                            <p align="justify">Dine-Media (www.dine-media.com) and its suppliers reserve the right to immediately terminate this Agreement and deactivate Client's account and access to Services Dine-Media (www.dine-media.com)</p>

                                            <h4>Websites if they believe, in their sole and absolute discretion, that Client has:</h4>
                                            <p align="justify">Violated, or threaten to violate, the terms of this Agreement; or</p>
                                            <p align="justify">Created, or are creating, websites as a nuisance or in a deliberate attempt to degrade or otherwise interfere with the Services or Dine-Media (www.dine-media.com) Websites.</p>
                                            <p align="justify">Any user who is terminated for cause under this section hereby agrees to forfeit any and all rights, claims and/or causes of action against Dine-Media (www.dine-media.com) and its suppliers, including without limitation Client's rights to any refunds or for any losses, expenses, damages or costs incurred as a result of such termination and deactivation.</p>

                                            <h4>Site Ownership:</h4>
                                            <p align="justify">Copyright, code structure, processes, imagery, and intellectual property related to the finished website produced by Dine-Media (www.dine-media.com) will be owned by Dine-Media (www.dine-media.com). Transfer requests must be initiated by the Client to the dedicated Dine-Media (www.dine-media.com) Project Coordinator in writing. Rights to photos, graphics, source code, work- up files, and computer Services are specifically not transferred to the Client, and remain the property of Dine-Media (www.dine-media.com)</p>
                                            <p align="justify">retains the right to display graphics and other Web design elements as examples of their work in their respective portfolios. The website(s) may contain a copyright/legal statement with a link to Dine-Media (www.dine-media.com) Services and corporate website. Client assumes all liability for licensing the proper technology, and imagery, for the site to operate properly outside of Dine-Media (www.dine-media.com) hosting environment. If Client desires to transfer the site to another hosting platform, Dine-Media (www.dine-media.com) reserves the right to charge a one time ownership transfer fee, which includes all supporting code, fonts, imagery, etc.</p>

                                            <h4>Force Majeure:</h4>
                                            <p align="justify">Dine-Media (www.dine-media.com) shall not be liable or deemed to be in default under this Agreement for any delay or failure to perform resulting from (a) accidents, fire, labor disputes, epidemics, war, terrorist acts, riots, insurrections, power blackouts, acts of nature or causes beyond its reasonable control without its fault or negligence, (b) acts or omissions of the other Party or of a third Party (other than the non- performing Party's own agents or contractors), or (c) compliance with any law, regulation, ruling, order or requirement of any federal, state or municipal government or agency or court of competent jurisdiction ('Force Majeure Condition').</p>

                                            <h4>Data Limitations:</h4>
                                            <p align="justify">Dine-Media (www.dine-media.com) will impose the following data limitations on email and bandwidth provided by Dine-Media (www.dine-media.com) through its products and Services offering.</p>

                                            <h4>Limitations of Liability:</h4>
                                            <p align="justify">CLIENT EXPRESSLY UNDERSTANDS AND AGREES THAT Dine-Media(www.dine-media.com) AND ITS OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL NOT BE LIABLE TO CLIENT FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE LOSSES (EVEN IF Dine-Media (www.dine-media.com) HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES), RESULTING FROM: THE USE OR THE INABILITY TO USE THE SERVICE THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICE UNAUTHORIZED ACCESS TO OR ALTERATION OF CLIENT'S TRANSMISSIONS OR DATA STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON THE SERVICE; OR ANY OTHER MATTER RELATING TO THE SERVICE.</p>

                                            <h4>Credit card Protection Policy</h4>
                                            <p align="justify">We carry out all the credit card transaction in a secure environment called SSL (Secure Sockets Layer). SSL is the standard security technology for establishing an encrypted link between a BANK web server and a browser. This link ensures that all data passed between the BANK web server and browsers remain private and integral. SSL is an industry standard and is used by millions of websites in the protection of their online transactions with their customers.</p>

                                            <h4>Personal Information Collection Policy</h4>
                                            <p align="justify">With the exception of credit card info, we store the information from your order form to allow us to track consulting issues or refer to a previous order to help provide some customer service. However, we do not store any type of credit card information of our customers.</p>

                                            <h4>Statement of Principles</h4>
                                            <p align="justify">As described in detail below, any information we gather at this web site is strictly for our use and is not shared with any other entity, public or private, for any reason - period. We will not sell or give away any lists or other data that we may retain and we do not purchase such information from other sources.</p>

                                            <h4>Statistical Data</h4>
                                            <p align="justify">Our servers (as most) track IP addresses and referring contact details to help with site maintenance and improvements. This data is viewed only as anonymous statistics to show the busiest times of the day or week, pages with errors and how effective our advertising has been and the further contact to the customer or for shipment of physical product.This information is not used for any other purpose.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseEighteen">
                                                <i class="glyphicon glyphicon-cog"></i> Legal Disclaimer
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseEighteen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">The information contained in this website is for general information purposes only. The information is provided by www.dine-media.com and while we endeavor to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
                                            <p align="justify">In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arise out of, or in connection with, the use of this website.</p>
                                            <p align="justify">Through this website you are able to link to other websites which are not under the control of www.dine-media.com, we have no control over the nature, content and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.</p>
                                            <p align="justify">Every effort is made to keep the website up and running smoothly. However, www.dine-media.com takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapseNineteen">
                                                <i class="glyphicon glyphicon-cog"></i> Costing
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseNineteen" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p align="justify">
                                            <form role="form" name="form" method="post" action="http://dine-media.com/payments/Index.html" onClick="Submit" target="_blank">
                                                <div class="form-group">
                                                    <label for="inputEmail1" class="col-lg-3 control-label">Msecure sold per license :</label>
                                                    <div class="col-lg-3">
                                                        <select class="form-control" name="MAmount">
                                                            <option value="25">Single session </option>
                                                            <option value="75">3 session </option>
                                                            <option value="125">5 session </option>
                                                            <option value="150">7 session </option>
                                                            <option value="200">10 session</option>
                                                            <option value="250">15 session </option>
                                                            <option value="325">Unlimited sessions </option>
                                                        </select>
                                                        <input type="hidden" name="code" value="356" />
                                                    </div>

                                             <!--       <button class="btn btn-primary" type="submit" id="Submit">PAY NOW</button>-->
                                              <a href="javascript:;" class="btn btn-primary"><i class="fa fa-angle-right"></i> PAY NOW</a>

                                                </div>
                                            </form>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end tabpane -->

                    </div><!-- end servicetabcontent -->
                </div><!-- /tab services --> 

            </div><!-- general_wrapper -->

        </div><!-- fullwidth-post-wrapper -->
    </div><!-- end container -->
</section><!-- end section-single -->

<style>
  .top-height{margin-top:74px
  }
.bigtitle {
    color: #000;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.65px;
    margin: 5px 0 0;
    padding: 0;
    text-transform: uppercase;
    margin: 23px 0 0;
}
.rotate{
  color: #3171bf;
}
.lead{color: #000; text-decoration:none}
.glyphicon{ padding:10px; maring-right:5px;  width: 3em;}
h4 {color: #000; font-style: normal; text-shadow: none}
h4:selected{text-decoration:none}
 .glyphicon{color: #3171bf}
 #banner-innerpage{display: none}
 .section-colorizedbg,
 h3.widget-title span.title-text,
 .about_widget .social span,
 .social span,
 .site-header .social span,
 .pricing-table > .price .name,
 .ls01,
 .dm_featured_box_icon,
 .miniicon span,
 .pagination > li > a:hover,
 .topbar.whitebg .searchicon:before,
 .bs-glyphicons li:hover,
 .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
 .pagination > li > span:hover,
 .pagination > li > a:focus,
 .pagination > li > span:focus,
 .progress-bar,
 .blog-wrap div.post-date,
 .contact_icons,
 .desc span.text a:hover, .desc span.title a:hover,
 .tagcloud a,
 .widget-title hr,
 .hovicon.effect-1.sub-a:hover,
 .hovicon.effect-1.sub-a:hover i,
 .hovicon.effect-1,
 .hovicon.effect-1.sub-a:hover,
 .back-to-top,
 .btn-primary,
 #owl-blog .read-more,
 #owl-blog .views,
 #owl-blog .post-type,
 #timeline .read-more,
 #timeline .views,
 #timeline .post-type,
 .flexslider .desc span.title,
 .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus,
 mark,
 .topbar {
   background: #00a4db;
   color: #ffffff;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00a4db), to(#007acc));
   background-image: -webkit-linear-gradient(top, #00a4db, 0%, #007acc, 100%);
   background-image: -moz-linear-gradient(top, #00a4db 0%, #007acc 100%);
   background-image: linear-gradient(to bottom, #00a4db 0%, #007acc 100%);
   background-repeat: repeat-x;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00a4db', endColorstr='#ff007acc', GradientType=0);
   border-color: #007acc #007acc #004c80;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   *background-color: #00a4db;
   /* Darken IE7 buttons by default so they stand out more given they won't have borders */
   filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
   border-color: #007acc;
 }
 .container {
    max-width: 1170px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


h3 {background:none
}

.section-colorizedbg{ text-align:center}
.fa-spinner:before {
    content: "";
}
.fa-spin {
    animation: 2s linear 0s normal none infinite running spin;
}
.fa-4x {
    font-size: 4em;
    color: #fff;
}
.service_shadow{border-right: 1px solid #fff; padding:22px }
.border-ri{border-right:none}
hr{ width: 99px;
}
.accordion-toggle{ color: #3171bf;}
  </style>
  
  