<div class="container">   
  <div class="content">
    <div id="leftColumn" class="col-lg-3 col-md-3 col-sm-4">
      <ul id="menu5" class="menu-collexp">
        <li class="icon-app"><a class="expanded" title="System Settings"><span>Design &amp; Dvelopment</span></a>
          <ul class="menu-collexp-sub">
            <li class="active"><a data-toggle="tab" title="Custom Application Development" href="#customApplicationDevelopment">Custom Application Development</a></li>
            <li><a data-toggle="tab" title="Product Development Services" href="#productDevelopmentServices">Product Development Services</a></li>
            <li><a data-toggle="tab" title="SAAS/PAAS/IAAS Development" href="#sAASPAASIAASAppicationDevelopment">SAAS/PAAS/IAAS Development</a></li>
            <li><a data-toggle="tab" title="Product Support Maintenance" href="#productSupportMaintenanceServices">Product Support/Maintenance Services</a></li>
            <li><a data-toggle="tab" title="Web Services/API Development Services" href="#webServicesAPIDevelopmentServices">Web Services/API Development Services</a></li>
            <li><a data-toggle="tab" title="Web Design/ Development Services" href="#webDesignDevelopmentServices">Web Design/ Development Services</a></li>
            <li><a data-toggle="tab" title="Hybrid Application design/development" href="#hybridApplicationdesigndevelopment">Hybrid Application design/development</a></li>
            <li><a data-toggle="tab" title="Wireframe and POC Services" href="#wireframeandPOCServices">Wireframe and POC Services </a></li>
          </ul>
        </li>
        <li class="icon-cloudServices"><a class="collapsed" title="Cloud Services"><span>Cloud Services</span></a>
          <ul class="menu-collexp-sub">
            <li><a data-toggle="tab" title="Who We Are" href="#whoWeAre">Who We Are</a></li>
            <li><a data-toggle="tab" title="Cloud Architecture and Design Services" href="#cloudArchitectureandDesignServices">Cloud Architecture and Design Services</a></li>
            <li><a data-toggle="tab" title="Cloud Consultancy services" href="#cloudConsultancyservices">Cloud Consultancy services</a></li>
            <li><a data-toggle="tab" title="SAAS/PAAS/IAAS services" href="#sAASPAASIAASservices">SAAS/PAAS/IAAS services</a></li>
            <li><a data-toggle="tab" title="Cloud Migrations" href="#cloudconsulting">Cloud consulting</a></li>
          </ul>
        </li>
        <li class="icon-consultancyServices"><a class="collapsed" title="Consultancy Services"><span>Consultancy Services</span></a>
          <ul class="menu-collexp-sub">
            <li><a data-toggle="tab" title="Business Analysis Servicest" href="#businessAnalysisServicest">Business Analysis Servicest</a></li>
            <li><a data-toggle="tab" class="last-dottedbrd" title="Project Management Services" href="#projectManagementServices">Project Management Services</a></li>
            <li><a data-toggle="tab" title="productconsulting" href="#productconsulting">Product consulting</a></li>
            <li><a data-toggle="tab" title="cloudconsulting" href="#cloudconsulting">Cloud consulting</a></li>
            <li><a data-toggle="tab" title="technologyconsulting" href="#technologyconsulting">Technology consulting</a></li>
          </ul>
        </li>
        <li class="icon-supportServices"><a class="collapsed" title="Clients"><span>Support Services</span></a>
          <ul class="menu-collexp-sub">
            <li><a data-toggle="tab" title="Account and Finance Operation" href="#accountandfinaceoperation">Account and Finance Operation</a></li>
            <li><a data-toggle="tab" class="last-dottedbrd" title="Human Resource Services" href="#humanresourceservices">Human Resource Services</a></li>
            <li><a data-toggle="tab" title="Data Processing Services" href="#dataprocessingservices">Data Processing Services</a></li>
            <li><a data-toggle="tab" title="Chat & Email Support Services" href="#chatandemailsupportservices">Chat & Email Support Services</a></li>
            <li><a data-toggle="tab" title="Selling Digital Products" href="#sellingdigitalproducts">Selling Digital Products</a></li>
          </ul>
        </li>
        <li class="icon-mobileService"><a data-toggle="tab"class="collapsed" title="Player 2"><span>Mobile Applications</span></a>
          <ul class="menu-collexp-sub">
            <li><a data-toggle="tab" href="#iosapplicationdevelopment" title="IOS application development">IOS application development</a></li>
            <li><a data-toggle="tab"  class="last-dottedbrd" title="Androidapplicationdevelopment" href="#androidapplicationdevelopment">Android application development</a></li>
            <li><a data-toggle="tab" href="#extendingwebtomobileapps" title="Extending web to mobile apps">Extending web to mobile apps</a></li>
            <li><a data-toggle="tab" href="#mobileappconsulting" title="Mobile app consulting">Mobile app consulting</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="rightColumn" class="col-lg-9 col-md-9 col-sm-8">				

      <div class="tab-content">

        <div class="tab-pane active space-left-service" id="customApplicationDevelopment">
          <h6>Custom Application Development</h6>
          <h5 class="heading-service"><span>Ruby on Rails framework</span></h5>
          <p>We specialize and love to develop custom application on Ruby on Rails framework. With good amount of experience in working on custom products, we not only work with you redefining your requirements but also work to make the final product look more usable and saleable which further helps our client to reduce Return on investment period and start generating quick profits. We follow Agile Development methodology using SCRUM and DSSM reducing the time to market for custom applications generating feedbacks for improvement while the product is being developed. In the end what you get is a totally polished product easily accepted for the masses. Clients are a part of our development process and to say the most important stakeholder</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="productDevelopmentServices">
          <h6>Product Development Services</h6>
          <p>We have solid experience in working with startups and we feel extremely happy when our clients allow us to participate in requirements analysis phase for new product development. We have years of experience in developing products in multiple domain like social networking, data center automation, banking and finance, dating, ecommerce, CMS based apps, real estate, healthcare applications, vendor management networks, auctions and many more. All our products are built on Ruby on Rails framework. Our product development services cover all aspects of product development from discovery to execution.</p>
          <p>Dine-Media specializes in early validation of your product with minimal investment using methodologies like prototyping, POC and R&D services. We can go ahead and do some market research also to check the acceptance to your new product idea. We tie up with market research firms. Our use of emerging technologies and agile methodologies not only make the product flexible as per market needs but easily acceptable</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="sAASPAASIAASAppicationDevelopment">
          <h6>SAAS/PAAS/IAAS Appication Development</h6>
          <p>These are the needs of current and future markets as more and more products are jumping to cloud platform every day. With growing cost of infrastructure there is a vital need for adopting saas, paas and iaas based infrastructure efficient application so that we can assure early profits by saving huge infrastructure costs. Few benefits of Saas Model</p>
          <ol class="list-features">
            <li>Save money.</li>
            <li>Save time.</li>
            <li>Focus your technology budgets on competitive advantage rather than infrastructure.</li>
            <li>Gain immediate access to the latest innovations.</li>
            <li>Join a community of interest</li>
            <li>Upgrade and downgrade your infra based on your needs</li>
            <li>Quicker and smart pushing of upgrades to your app</li>
            <li>Easier mobility and scalability</li>
          </ol>

          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="productSupportMaintenanceServices">
          <h6>Product Support/Maintenance Services</h6>
          <p>small but effective team available 24x7x365 to help support your product and make sure it live and working as required with real time fixing of issues and errors that occur in your application. We properly plan out the maintenance hours based on the traffic the website experiences and considering hours of low traffic. we are giving support to our existing clients for whom we have built products and custom applications and they are very happy with our services. You can call this post delivery support.
            If you have an application that needs further upgrades and support then you can trust us with this job. </p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="webServicesAPIDevelopmentServices">
          <h6>Web Services/API Development Services</h6>
          <p>We services are most important part of any application now a days and we specialize in web services and API development services (REST). REST defines a set of architectural principles by which you can design Web services that focus on a system's resources, including how resource states are addressed and transferred over HTTP by a wide range of clients written in different languages. When designing a REST API or service we follow established best practices for dealing with security (Authentication, Authorization, Identity Management) Some benefits of API/Web services </p>
          <h5 class="heading-service"><span>Exposing the function on to network</span></h5>
          <p>A Web service is a unit of managed code that can be remotely invoked using HTTP, that is, it can be activated using HTTP requests</p>
          <h5 class="heading-service"><span>Connecting Different Applications</span></h5>
          <p>Web Services allows different applications to talk to each other and share data and services among themselves</p>
          <h5 class="heading-service"><span>Standardized Protocol</span></h5>
          <p>Standardized Protocol: Web Services uses standardized industry standard protocol for the communication. All the four layers (Service Transport, XML Messaging, Service Description and Service Discovery layers) uses the well defined protocol in the Web Services protocol stack. This standardization of protocol stack gives the business many advantages like wide range of choices, reduction in the cost due to competition and increase in the quality.</p>
          <h5 class="heading-service"><span>Low Cost of communication</span></h5>
          <p>Web Services uses SOAP over HTTP protocol for the communication, so you can use your existing low cost internet for implementing Web Services. This solution is much less costly compared to proprietary solutions like EDI/B2B.</p>
          <h5 class="heading-service"><span>Support for Other communication means</span></h5>
          <p>Beside SOAP over HTTP, Web Services can also be implemented on other reliable transport mechanisms. So, it gives flexibility use the communication means of your requirement and choice</p>
          <h5 class="heading-service"><span>Loosely Coupled Applications</span></h5>
          <p>Loosely Coupled Applications: Web Services are self-describing software modules which encapsulates discrete functionality. Web Services are accessible via standard Internet communication protocols like XML and SOAP.</p>
          <h5 class="heading-service"><span>Web Services Sharing</span></h5>
          <p>These days due to complexness of the business, organizations are using different technologies like EAI, EDI, B2B, Portals etc. for distributing computing. Web Services supports all these technologies, thus helping the business to use existing investments in other technologies</p>
          <h5 class="heading-service"><span>Web Services are Self Describing</span></h5>
          <p>Web Services are self describing applications, which reduces the software development time</p>
          <h5 class="heading-service"><span>Automatic Discovery</span></h5>
          <p>Web Services automatic discovery mechanism helps the business to easy find the Service Providers. This also helps your customer to find your services easily.</p>
          <h5 class="heading-service"><span>Business Opportunity</span></h5>
          <p>Web Services has opened the door to new business opportunities by making it easy to connect with partners.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="webDesignDevelopmentServices">
          <h6>Web Design/ Development Services</h6>
          <p>We started our design wing with an aim to provide end- end solution to our clients under one roof and now we take care of your requirement from design phase to development phase to deployment and maintenance phase. Now you don't have to take the headache of finding a separate design team for your product as we already have one for you. We follow simple agile process here in delivering designs using SCRUM. We believe this is more of an interactive approach and complicated process might kill the true efficiency and not give desired results. </p>
          <ul class="list-features">
            <li>- We focus on responsive web designs following user friendly patterns. </li>
            <li>- Designs which are easily accepted by target user group </li>
            <li>- W3c compliant designs </li>
            <li>- Tables less/div based layouts </li>
            <li>- Web 2.0 designs using ajax/Jquery and other JS libraries </li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="hybridApplicationdesigndevelopment">
          <h6>Hybrid Application design/development</h6>
          <p>The latest innovations and acceptance of new technologies have forced the web developers to design a web site which run on almost all platforms and screen sizes ranging from desktop pc/laptop to tablets to smart phones. The application should not distort and run without any issues on all devices. We achieve this by using html5 and other libraries available.
            Hybrid development combines the best (or worst) of both the native and HTML5 worlds. We define hybrid as a web app, primarily built using HTML5 and JavaScript, that is then wrapped inside a thin native container that provides access to native platform features. PhoneGap is an example of the most popular container for creating hybrid mobile apps.For the most part, hybrid apps provide the best of both worlds. We have become gurus at optimizing JavaScript, pushing CSS to create beautiful layouts, and writing compliant HTML code that works on any platform can now create sophisticated mobile applications that don't sacrifice the cool native capabilities.
          </p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="wireframeandPOCServices">
          <h6>Wireframe and POC Services </h6>
          <p>When clients approach us with an idea which requires huge investments and the client is not sure of the acceptable level from the end user and seems confused we often suggest him/her to move ahead with proof of concept which requires less time and budget to built and by launching it our clients get an idea of what users think and also gathers feedback. If things go well then we incorporate the feedback and upgrade the proof of concept to a full application.</p>
          <h5 class="heading-service"><span>Some benefits of POC</span></h5>
          <ul class="list-features">
            <li>- Low budget and quicker time to market</li>
            <li>- Generate valuable feedback from end users</li>
            <li>- The concept is already sold through the POC</li>
            <li>- Chances of getting investments from people who liked the idea</li>
            <li>- It gives you complete scope of work along with wireframe architecture</li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="whoWeAre">
          <h6>Who We Are</h6>
          <p>We follow Model Driven Architecture and Design Method . We take all Business function and Business Rule/Logic decision at Architecture and Decision phase.</p>
          <ul class="list-features">
            <li>We have reduced Coding & Testimg phase effort by 60%. Also Reduce rework and Customization effort and increase Productivity.</li>
            <li>We collaborate with following Standards /Technology/products/Tools:</li>
            <li>TOGAF, Archimate, SOA Ontology</li>
            <li>VMware, Xen, Hypervisor-V, vCloud Director, HL</li>
            <li>CSCC, CSA, PCI-DSS, HL7 . IS-27001</li>
            <li>Web standard, OASIS, OMG, NIST, PCI-DSS, UML, BPMN</li>
            <li>Amazon Web service, Cloud Foundry. Eucalyptus.</li>
            <li>Big Data, Data center, Cloud Infrastructure and Cloud Computing.</li>
            <li>Our Cloud Team is lead by an IT Evangelist with 24 +yrs of IT Experience, having strong skill in IT Management , IT Strategy, IT Architecture , Solution delivery , Quality</li>
            <li>Management and Product Development in Systems , Finance ,Manufacturing and Automobile domain. Having expertise in IT Architecture, Enterprise Modeling based Architecture,Enterprise Integration, Technology – Virtual Infrastructure , Cloud Computing , High Performance Computing, Big Data and Predictive Analytics, Machine Learning Algorithm. </li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="cloudArchitectureandDesignServices">
          <h6>Cloud Architecture and Design Services</h6>
          <p>We are the industry experts in cloud and different services we provide are</p>
          <h5 class="heading-service"><span>Enterprise Architecture services </span></h5>
          <p>TOGAF based Architecture Building Blocks, Reference Architecture, Architecture Principle, Architecture Decision and Technology Recommendation. Virtual Enterprise and Virtual Data Center, Middleware Platform Integration with Private and Public Cloud. Enterprise Data Management Enterprise Cloud and Datacenter. Big Data and Analytics with Hadoop, Mahout and Machine Learning.</p>
          <h5 class="heading-service"><span>Middleware Platform Services</span></h5>
          <p>Web sphere – App Server, ESB, MQ,MB integration with financial system . Open Source – Mule ESB, Cloud Host WSO2 – ESB, Identity Management, Rules Engine, Process server, Net Weaver /XI Integration with Legacy System. Integration with AWS Cloud.</p>
          <h5 class="heading-service"><span>Virtualization and Cloud Services </span></h5>
          <p>Virtualization Platform - ESX/ESXi, vCenter Server , vShield , vSphere. Cloud Platform - vSphere, vCloud Director, vCloud Network and Security, vShield. AWS Cloud Platform.</p>
          <h5 class="heading-service"><span>Data Mining and BIG Data Services</span></h5>
          <p>Hadoop, Hive, Cassendra, Hbase and Mahout – Machine Learning Algorithm Library. Big Data Platform - Cloud Era, Spot Fire, Green Plum, AWS EMR, MAP-R, SAP – HANA. Predictive Analytics Products – 11 ANTS, Salford</p>
          <h5 class="heading-service"><span>Process and Governance services</span></h5>
          <p>IT GRC, CMMI Audit, ITSM/ITIL, SAS 70 Type II / SSAE 16 Con 3 , PCI-DSS , HIPAA Compliance in AWS Platform. Governing Process -CoBIT, Val IT.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="cloudConsultancyservices">
          <h6>Cloud Consultancy services</h6>
          <p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs. You can be from any domain and if you are facing a problem on answering some very critical questions required to take decision for your application and infrastructure we are here to help.</p>
          <ol class="list-features">
            <li>We help you redefine your problem into facts that helps you to take decisions</li>
            <li>We help you prepare a solution for your problem</li>
            <li>We help you choose the right vendor</li>
            <li>We help you choose the right platform</li>
            <li>We help you save money and time.</li>
            <li>Let us take care of your problem while you focus on your business.</li>
          </ol>
          <p>We are experts in taking cloud decision and our Decision criteria is not limited to WSO2, cloud foundry, open shift, cloudbees but we cover all verticals of solution approach</p>
          <p>With our decision on your SAAS, PAAS and IAAS you are surely a winner.</p>
          <p>Your infrastructure may be right but we believe if the decision on platform is wrong even the best of the infrastructure will not help, so we take PAAS as the heart of the cloud decision.</p>
          <p>We assure</p>
          <ol class="list-features">
            <li>Scalability</li>
            <li>Cost efficiency to its maximum</li>
            <li>Security</li>
            <li>Accessibility</li>
          </ol>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="sAASPAASIAASservices">
          <h6>SAAS/PAAS/IAAS services</h6>
          <p>Proper training is given for operations and we give post delivery support and maintenance</p>
          <p>Software as a Service (SaaS) is a software distribution model in which applications are hosted by a vendor or service provider and made available to customers over a network, typically the Internet.</p>
          <p>Platform as a Service (PaaS) is a paradigm for delivering operating systems and associated services over the Internet without downloads or installation.</p>	
          <p>Infrastructure as a Service (IaaS) involves outsourcing the equipment used to support operations, including storage, hardware, servers and networking components.</p>
          <p>The increasing selection of services delivered over the Internet is sometimes referred to as XaaS.</p>	
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="cloudMigrations">
          <h6>Cloud Migrations</h6>
          <p>Our cloud migration services enable old and new business to migrate their entire existing and new infrastructure (applications + data) to cloud efficiently and securely.</p>	
          <p>There is a tried and tested approach we follow during the process of migration</p>
          <ol class="list-features">
            <li>We analyze your existing data and application and look for its readiness to be migrated to cloud, if there are any customizations and changes required we will let you know in advance</li>
            <li>We will suggest you the best cloud solution based on your needs which is cost effective and fulfills all your business needs</li>
            <li>We will define the complete process or you can say roadmap for this migration so that we all are on same platform</li>
            <li>Prepare required documentation before we start the migration</li>
            <li>During migration we make sure your business is not effected in this migration process and do it as smoothly as possible ensuring security and efficiency at all levels with quality check</li>
            <li>Once the migration is done we run a pilot test and hand out the results to you and once you verify, we move it to production</li>
            <li>Proper training is given for operations and we give post delivery support and maintenance services</li>
          </ol>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="businessAnalysisServicest">
          <h6>Business Analysis Services</h6>
          <p>We at dine-media believe that a perfect analysis of business and process requirements leads to a successful project outcomes. We have experiences when clients come to us with a vague idea on what they want to do, we then sit with them and try to explore more on what they exactly want and improvise their idea into a proper Requirement Specification Document which not only helps us executing the project in a proper manner with clarity on what the end product will look like. We help the customer to redefine his requirements in a way which is easily understood by his target audience and helps him to market.</p>	
          <p>Having worked with so called father of Use Cases, We are sure to give excellent service and some of the tools we use are:</p>
          <ul  class="list-features">
            <li>a.	UML and Use Cases: It helps us the understand the logic and concept very clearly</li>
            <li>b.	Presentation and Agile story boards: This approach is a very powerful one which not explores all the possible answers to all the confusions but gives an interesting outcome which can be readable by layman to understand the requirements.</li>
            <li>c.	Wireframes and Mocks: we do this to show how the end product will look like and how exactly it will function. It gives a rough idea of the outcome of the project as it has all the required fields drilled down to a granular level to help understand each module with all associated components</li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="projectManagementServices">
          <h6>Project Management Services</h6>
          <p>We are purely agile by heart and believe in that it's a win-win for all the stake holders if a project is executed the agile way. We follow SCRUM and DSDM Techniques for our project management services and we follow same for all software developments going on inside Dine-Media. It gives 100% transparency to our customers with proper feedbacks flowing in for us also to make the end product as expected and a successful delivery.</p>	
          <p>Here are some of the key characteristics of the agile methodology.</p>
          <ol  class="list-features">
            <li>Deliver frequently.</li>
            <li>More iteration.</li>
            <li>Less defects.</li>
            <li>Test frequently</li>
            <li>Collaborative approach</li>
            <li>Maximum ROI</li>
          </ol>
          <p>We use many Agile project management tools like Basecamp, Pivotal tracker, Redmine etc.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="productconsulting">
          <h6>Product consulting</h6>
          <p>Products are becoming increasingly more complex and sophisticated, and many businesses and other organizations need product consultants. Having worked with different ideas and domain we can proudly say that we can take your product to a completely different level by using our experience and expertise. Some of the domains we have worked in past are</p>	
          <ul  class="list-features">
            <li>a.	Health care sector</li>
            <li>b.	Data Center Automation services</li>
            <li>c.	Social networking and Dating</li>
            <li>d.	Ecommerce and Auction sites</li>
            <li>e.	Banking and Finance</li>
            <li>f.	Blasting companies</li>
            <li>g.	Service exchange and service providing domains</li>
            <li>h.	SMS and email marketing</li>
            <li>i.	Education domain</li>
            <li>j.	Consulting and counseling apps and many more…………</li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="cloudconsulting">
          <h6>Cloud consulting</h6>
          <p>Cloud is just not about moving to any cloud but choosing the right cloud fulfilling your business needs. You can be from any domain and if you are facing a problem on answering some very critical questions required to take decision for your application and infrastructure we are here to help.</p>	
          <ul  class="list-features">
            <li>a.	We help you redefine your problem into facts that helps you to take decisions</li>
            <li>b.	We help you prepare a solution for your problem</li>
            <li>c.	We help you choose the right vendor</li>
            <li>d.	We help you choose the right platform</li>
            <li>e.	We help you save money and time</li>
            <li>f.	Let us take care of your problem while you focus on your business</li>
          </ul>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="technologyconsulting">
          <h6>Technology consulting</h6>
          <p>we help you answer the most critical question of business and that is – What technology to choose and why? Since we only work with Ruby on Rails, we know clearly what the technology is capable of doing and give you a very crisp and justified solution to your problem. We have carefully chosen our technology after evaluating from different available technologies around the globe. We ensure the best use of the said technology with all the available open sources, we can not only speed up the deliver process but gives you a fantastic stable application with excellent code base. We answer your doubts point by point so that there are no untouched corners left.</p>	
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="accountandfinaceoperation">
          <h6>Account and Finance Operation</h6>
          <p>Most of the organizations widely outsource their accounting and financial operations to support companies, in order to save both operational costs and capital expenditure. In accounting and financial outsourcing, we promise for confidentiality, data security, risk management, governance and improved efficiency.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="humanresourceservices">
          <h6>Human Resource Services</h6>
          <p>HR activities such as pay-roll administration, training and development, record keeping, performance appraisal records, human resource policy clarification etc are all people intensive activities which involve a lot of time and energy. Such activities are repetitive and routine in nature. Therefore the companies with intent to concentrate on their core activities outsource these HR activities.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="dataprocessingservices">
          <h6>Data Processing Services</h6>
          <p>Data processing is a critical activity in an organization. It's a time consuming activity and needs to be accurate. So many organizations outsource their Data processing and management activity. We offer excellent data processing and management services at affordable rates. With a team of data entry specialists, we are able to perform error-free data management services.</p>
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="chatandemailsupportservices">
          <h6>Chat & Email Support Services</h6>
          <p>Responding to emails received is crucial for any business, especially these days where email has become a major communication medium. Large organizations receive loads of emails daily and responding to each one of them becomes a tedious process for them and so such companies started to outsource their Email support to support companies. we also offer live chat solutions</p>
          <div class="clearF"></div>
        </div>
        
        <div class="tab-pane space-left-service" id="sellingdigitalproducts">
          <h6>Selling Digital Products</h6>
          <p>Dine-Media undertake sales and support services for different products. We are experts in selling digital products which can be anything from a downloadable pdf to anti-virus to computer Hardware AMC. Get it touch with us to increase your customer base and revenues.</p>
          <div class="clearF"></div>
        </div>


        <div class="tab-pane space-left-service" id="iosapplicationdevelopment">
          <h6>IOS application development</h6>
          <p>When smart phones are becoming the choice of the markets along al aged groups, you cannot ignore the world leader in smart phones "APPLE". With over more than 450,000 thousand apps, one of the biggest app collections has not only made the lives of many people and businesses more organized and manageable but given huge opportunities to people to explore the huge application development segment on IOS. Equipped with the most desirable skills in IOS development tools like Xcode, Cocoa Touch framework and Objective C, we ensure that Dine-Media provides the best service and optimum solution to its client, perfecting delivery In-Time, On-Budget and Quality Checked. Leveraging the best of Apple's technologies and utilizing Cocoa's APIs, our iPhone Programmers create a tightly-integrated Xcode development experience that makes it easier to add animation, networking, appearance and behavior to apps. Only a few lines of coding will suffice.</p>
          <p>Our iPhone Mobile apps Development team is committed to meeting optimum time-to-market periods. Understanding the core processes of iPhone Native Mobile Application Development, offshore ipad application development, we build third-party applications that are as interactive and easy-to-use as native applications.</p>
          <p>Our group of young trained professionals has varied experience. With intense focused on offering customers with the top quality technology suitable for them at the best price imaginable.</p>
          <p>Our group of technocrats are proactively seeking and working on cutting edge technologies so that you get the perfect solution to your problems. This also keeps us poised to address future needs of our customers as well.</p>
          <h5 class="heading-service"><span>Our Offerings for iOS Mobile Application Development</span></h5>	
          <ul  class="list-features">
            <li>iphone / Ipad eBooks & E-learning Application Development</li>
            <li>iPhone Catalogue Application Development</li>
            <li>iPhone / Ipad Business Application Development</li>
            <li>iPhone / Ipad Enterprise Application Development</li>
            <li>iPhone / iPad compatible Mobile Website Development</li>
            <li>iPhone Web Service Integration</li>
            <li>iPad Digital Album Development</li>
            <li>iPad Tablet Application Development</li>
            <li>iPhone Mobile App Development</li>
            <li>iPhone Social networking Application Development & Integration</li>
            <li>iPhoe GPS, Bluetooth, Push APNS, Google MAP integration</li>
            <li>Porting iPhone App to iPad App</li>
            <li>Porting iPhone App to iPad App</li>
          </ul>
          <div class="clearF"></div>
        </div>				

        <div class="tab-pane space-left-service" id="androidapplicationdevelopment">
          <h6>Android application development</h6>
          <p>With more and more market players adopting android platform and delivering cost effective devices in comparison to Apple's IPhone and IPad, the opportunities are limitless in reaching to those millions who are ready to test your application on their android devices.</p>
          <h5 class="heading-service"><span>Our Offerings for Android Mobile Applications Development</span></h5>
          <ul class="list-features">
            <li>eBooks /e-Learning Application Development</li>
            <li>Android Application Development</li>
            <li>Android Mobile Apps Development</li>
            <li>Android Catalogue Application Development</li>
            <li>Android Business Application Development</li>
            <li>Android Enterprise Application Development</li>
            <li>Android compatible Mobile Website Development</li>
            <li>Hire Android Mobile Apps developer</li>
            <li>Android PC Application Development</li>
            <li>Android Social networking Application & Integration </li>
            <li>Android GPS, Bluetooth, Push APIs, Google MAP integration</li>
            <li>Hire Android Application Developer</li>
            <li>2.2 and 4.2 SDK Compatible Android Apps Development</li>
          </ul>	
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="extendingwebtomobileapps">
          <h6>Extending web to mobile apps</h6>
          <p>More and more people are demanding hybrid application which works on all screen sizes so we at Dine-Media took a hybrid approach where we build application using HTML-5 and Java Script which are optimized to run on all platforms and screen sizes so it may be a desktop or a mobile device the application adjusts itself to the given screen size. Not all users will go and search the google store or Apple's App store to search and download the application instead they will directly try to open the application using mobile browser and there goes our chance where we can stand out by giving a hybrid application. There is no secret recipe to developing hybrid applications, it's just smart work .</p>	
          <div class="clearF"></div>
        </div>

        <div class="tab-pane space-left-service" id="mobileappconsulting">
          <h6>Mobile app consulting</h6>
          <p>We also do windows and blackberry application development but since the market share is less as compared to IOS and Android we suggest our client to invest money in IOS and Android platforms as they are in majority. If you have got a web application and want to go for a mobile application development you can trust us with the right decision of the right platform suggestion. Luckily we did some research on different mobile platform used in different markets and we figured out that different demographics have different choice of preferred brands and platforms. For example in Australia mainly people prefer IPhones and Ipads where in US the trend is changing and people are moving towards Android. So given a chance we would definitely give you the best technological platform choice based on target audience type along with consideration of other factors</p>	
          <div class="clearF"></div>
        </div>

      </div>
    </div>     
    <div class="clearF"></div>
  </div>
</div>
<%= render "technologies" %>