<table>
  <tr>
    <td>Contact Name:</td>
    <td><%= @contact.name %></td>
  </tr>
  <tr>
    <td>Contact Email:</td>
    <td><%= @contact.email %></td>
  </tr>
  <tr>
    <td>Subject:</td>
    <td><%= @contact.subject %></td>
  </tr>
  <tr>
    <td>Comment:</td>
    <td><%= @contact.comment %></td>
  </tr>
</table>