/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require validationEngine.jquery
 *= require_tree .
 */
#ajax_loader_big{
    display:none;
    height:auto;
    left:50%;
    position:fixed;
    top:35%;
    z-index:4;
}
#ajax_loader_big_div{
    display:none;
    height:auto;
    left:50%;
    position:fixed;
    top:35%;
    z-index:4;
}

#error_explanation{
    color: red;
}
